html {
  margin: 0;
  padding: 0;
  font-family: $fontBase;
  font-size: 1vw;
  font-weight: 400;
  color: #000000;
  height: 100%;
  min-height: 300px;
  min-width: 320px;
  background-size: cover;
  -webkit-text-size-adjust: 100%;
  background: #121212;

  @include tablet-mobile {
    font-size: 1.8vw;
  }

  @include only-mobile {
    font-size: 2.5vw;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  min-height: 100%;
  margin: 0;
  background: #fff;
  font-size: 1rem;

  &.body-overflow{
    overflow: hidden !important;
  }

  &.black-theme{
    background: #121212;
  }

  @include mobile{
    overflow-y: hidden;
  }
}

* {
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.body {
  flex: 1 0 auto;
  position: relative;
  z-index: 100;
  width: 100%;
  left: 0;
  pointer-events: auto;
  transition: left 0.6s;

  &.menu-opened{
    left: 300px;
    pointer-events: none;

    @include mobile{
      &:after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}

.container {
  margin: 0 auto;
  padding: 1px 8%;
  //max-width: 1540px;

  .breadcrumbs {
    padding:0;

    .dark{
      margin: 0;
    }
  }

  @include desktop-medium {
    padding: 1px 6%;
  }

  @include desktop-small {
    padding: 1px 3%;
  }

  &.big {
    //max-width: 1790px;
    padding: 1px 6%;

    @include desktop-medium {
      padding: 1px 3%;
    }

    @include mobile {
      padding: 1px 15px;
    }
  }

  @include mobile {
    padding: 1px 15px;
  }

  &.apartment{
    padding-right: 2%;

    @include mobile{
      padding: 1px 15px;
    }
  }

  &.max-height{
    @include desktop{
      height: 100%;
    }
  }
}


.absolute-wrapper {
  display: block;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;

  @include mobile {
    top:0;
  }

  .breadcrumbs {
    .breadcrumb {
      color: $colorWhite;
    }

  }

  h2{
    font-size:64px !important;

    @include desktop-m{
      font-size:44px !important;
      line-height: 46px !important;
    }

    @include mobile{
      font-size:28px !important;
      line-height: 32px !important;
    }
  }
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  font-family: $fontAccent;

  .breadcrumb {
    margin: 0 5px 0 0;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;

    &.white-theme{
      color: $colorWhite !important;
    }
  }

  div.breadcrumb{
    color: #a3a3a3 !important;
    cursor: default;

    &.white-theme{
      color: $colorWhite !important;
      cursor: default;
    }
  }

  @include tablet-mobile {
    margin: 15px 0 5px 0;

    .breadcrumb {
      display: flex;
      font-size: 1rem;
      align-items: center;
      color: $colorText;


      i {
        font-size: 10px;
      }
    }
  }

  @include only-mobile {
    margin: 15px 0 5px 0;

    .breadcrumb {
      display: flex;
      font-size: 1.3rem;
      align-items: center;
      color: $colorText;
      i {
        font-size: 10px;
      }
    }
  }

  .divide {
    margin-right: 5px;
    color: white;
    font-size: 12px;
    @include mobile{
      font-size:2rem;
    }
  }

  .link {
    color: $colorWhite!important;
    @include desktop {
      &:hover {
        color: $colorWhite!important;
      }
    }
  }

  .divider {
    font-size: 7px;
  }

  &.color-white {
    .item {
      color: $colorWhite;
      i {
        font-size: 10px;
      }
    }
  }

  &.dark {

    .breadcrumb {
      color: $colorText!important;
    }

    .divide {
      color: #C5C5C5;

    }
  }
}

.breadcrumb-head{
  font-family: 'Oswald',sans-serif !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 64px !important;
  line-height: 74px !important;
  text-transform: uppercase;

  &.filter{
    margin-top: 0;
    margin-bottom:29px !important;
    @include mobile{
      line-height: 48px !important;
      padding-bottom: 20px;
      font-size: 30px !important;
      margin-bottom:0 !important;
      border-bottom: 1px solid #353535;
    }
  }

  &.white-theme{
    color: white;
  }
  @include mobile {
    font-size: 3rem !important;
  }
}
