.button{
  display: flex;
  justify-content: center;
  align-items: center;
  height:60px;
  width:100%;
  border:none;
  font-size:16px;
  text-outline: none;
  font-family: $fontBase;
  font-weight:600;
  line-height: 21.6px;
  text-decoration: none !important;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  color: white;
  background-color:black;
  border-radius:4px;

  &:active{
    background: #3D3D3D;
  }

  &.white{
    border: 1px solid black;
    background-color: white;
    color: black;
  }

  &.white:active{
    border:1px solid #979797;
  }

  &.inactive{
    color: #ECECEC;
    background-color: #B0B0B0;
    pointer-events: none;
    border: none;
  }

  &.orange{
    background-color: #E56543;
  }
}