/**
Десптопный хедер
 */

.header {
  display: block;
  width: 100%;
  height: 80px;
  margin: 0;
  background: #121212;
  overflow-y: visible;

  &-margin {
    padding-top: 80px;

    @include desktop-small {
      padding-top: 80px;
    }
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 80px;
    transition: all .1s ease;

    @include desktop-small {
      height: 80px;
    }

    &>a{
      text-decoration: none;
    }

    .left{
      display: flex;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;

      .logo{
        color:$colorOrange;
        font-size: 24px;
        font-family: 'Rubik',sans-serif !important;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;

        @include desktop-m{
          font-size: 20px;
        }
      }

      .logo-second{
        font-family: 'Rubik', sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        color: #A3A3A3;
        align-self: end;

        @include desktop-m{
          font-size: 16px;
        }
      }

    }

    .right{
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
      height: 100%;
      display: flex;

      .main-nav-block{
        width: 88%;
      }

      .nav{
        list-style: none;
        padding: 0;
        margin: 0 -15px;
        z-index: 99;
        display: block;
        float: left;
        position: relative;


        li{
            display: inline-block;
            position: relative;
            padding: 0;

          a{
            display: inline-block;
            padding: 0 15px;
            line-height: 80px;
            font-size: 14px;
            margin: 0;
            font-weight: 500;
            text-transform: uppercase;
            color: #A3A3A3;
            cursor: pointer;
            font-family: $fontAccent;
            text-decoration: none;
            transition: color .2s linear;

            @include desktop-m{
              font-size: 10px;
              padding: 0 8px;
            }

            @include desktop{
              &:hover{
                color: $colorOrange;
              }
            }

          }

          .dropdown{
            position: absolute;
            transition: all 0.5s ease;
            padding: 0;
            left: 0;
            display: none;
            background: #121212;
            width: max-content;

            a{
              line-height: 60px;
            }

            &.active{
              display: block;
            }
          }

          .dropdown-trigger:hover{
           @include desktop{
             & .dropdown{
               display: block;
             }
           }
          }
        }
      }

      .backcall{
        float: right;
        padding: 0;
        list-style: none;
        line-height: 80px;
        color: #A3A3A3;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 14px;
        margin-right: 41px;
        font-family: $fontAccent;
        width: 13%;
        text-align: end;
        font-weight: 500;
        transition: color .2s linear;

        @include desktop{
          &:hover{
            color: $colorOrange;
          }
        }

        @include desktop-m{
          font-size: 10px;
          margin-right: 5px;
        }
      }
    }
  }
}

/**
Мобильный хедер
 */
.header-mobile {
  display: block;
  position: fixed;
  z-index: 900;
  left: 0;
  right: 0;
  top: 0;
  height: 80px;
  background: #121212;
  transition: left 0.6s;

  &.menu-opened{
    left: 300px;
  }

  &-margin {
    margin: 0;
    padding-top: 80px;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 80px;

    & > a{
      text-decoration: none;
    }

    .left{
      display: flex;

      .logo{
        font-family: 'Rubik', sans-serif;
        font-size: 24px;
        line-height: 24px;
        color: #E56543;
      }

      .logo-second{
        font-family: 'Rubik', sans-serif;
        font-size: 18px;
        line-height: 30px;
        color: #A3A3A3;
      }
    }

    .burger{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 17px;
      height: 13px;
      margin-right:41px;

      .top,.center,.bottom{
        display: block;
        width: 17px;
        height: 3px;
        background-color: white;
        border-radius: 1px;
      }

      .top,.center{
        margin-bottom: 2px;
      }
    }
  }
}

//mob menu

.mobile-menu {
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  transition: background-color .4s .2s;
  overflow: hidden;
  background-color: rgba(13, 13, 13, 0);
  color: #A3A3A3;

  .menu {
    display: block;
    position: absolute;
    z-index: 9;
    left: -300px;
    top: 0;
    width: 300px;
    bottom: 0;
    margin: 0;
    padding: 0 27px;
    padding-top: 54px;
    background-color: #0D0D0D;
    overflow: auto;
    text-align: center;
    transition: left .6s;
  }

  .close{
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 24px;
    height: 24px;
    background-size: 73%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #666;
    background-image: url('../img/close_nav.svg');
    border-radius: 50%;
  }

  .link {
    display: block;
    position: relative;
    margin: 3px 0;
    font-size: 16px;
    line-height: 26px;
    color: #A3A3A3;
    text-decoration: none;
    text-align: left;
    font-family: $fontAccent;


    &.link-main {
      color: $colorText;
      font-weight: 700;
    }

    &.active,
    &:active {
      color: $colorMain;
    }

    .icon {
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      margin: -7.5px 0 0 0;
      font-size: 15px;
    }
  }
}

.mobile-menu-open {
  overflow: hidden;


  .header-mobile {
    box-shadow: none;
  }

  .menu-burger {
    .line {
      &-top {
        transform: rotate(45deg);
      }
      &-bottom {
        transform: rotate(-45deg);
      }
    }

    .crust {
      transition: transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);

      &-top {
        transform: translateY(5px);
      }
      &-center {
        visibility: hidden;
      }
      &-bottom {
        transform: translateY(-4px);
      }
    }
  }

  .mobile-menu {
    z-index: 901;
    background-color: rgba(13, 13, 13, 0.6);
    .menu{
      left: 0;
    }
  }
}

.dropdown-trigger{
  position: relative;
  margin-right: 10px;

  &>a{
    position: relative;
  }

  &>a::after{
    top: 45%;
    right: 0;
    background-image:url('../../img/arrow-down.svg') ;
    display: block;
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image .2s linear;
  }

  &:hover>a::after{
    @include desktop{
        background-image:url('../../img/arrow-down-orange.svg') ;
      transition: background-image .2s linear;
    }
  }
}


