.clr {
  display: block;
  clear: both;
}

.hide {
  display: none !important;
}

.hide-desktop {
  @include desktop {
    display: none !important;
  }
}

.hide-tablet {
  @include tablet {
    display: none !important;
  }
}

.hide-mobile {
  @include mobile {
    display: none !important;
  }
}

.show-mobile {
  display: none;
}

.show-mobile {
  @include mobile {
    display: block!important;
  }
}

.display-block {
  display: block !important;
}
.display-none {
  display: none !important;
}
.display-flex {
  display: flex !important;
}
.display-inline-flex {
  display: inline-flex !important;
}

.no-margin {
  margin: 0 !important;
}
.no-margin-vertical {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.no-margin-horizontal {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}
.margin-top {
  margin-top: 16px !important;
}
.margin-top-x2 {
  margin-top: 32px !important;
}
.margin-top-x3 {
  margin-top: 48px !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}
.margin-bottom {
  margin-bottom: 16px !important;
}
.margin-bottom-x2 {
  margin-bottom: 32px !important;
}
.margin-bottom-x3 {
  margin-bottom: 48px !important;
}
.margin-bottom-x4 {
  margin-bottom: 64px !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.margin-left {
  margin-left: 16px !important;
}
.margin-left-x2 {
  margin-left: 32px !important;
}
.margin-left-x3 {
  margin-left: 48px !important;
}

.margin-left-x10{
  margin-left:12rem !important;
  @include mobile {
    margin-left:0!important;
  }
}
.margin-right {
  margin-right: 16px !important;
}

.margin-left-auto {
  margin-left: auto!important;
}

.margin-right-auto {
  margin-right: auto!important;
}

.no-padding {
  padding: 0 !important;
}
.no-padding-vertical {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.no-padding-horizontal {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}
.padding-top {
  padding-top: 16px !important;
}
.padding-top-x2 {
  padding-top: 32px !important;
}

.padding-top-x2-apartment{
  padding-top: 32px !important;

  @include desktop-m{
    padding-top: 0 !important;
  }
}
.padding-top-x3 {
  padding-top: 48px !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}
.padding-bottom {
  padding-bottom: 16px !important;
}
.padding-bottom-x2 {
  padding-bottom: 32px !important;
}
.padding-bottom-x3 {
  padding-bottom: 48px !important;
}
.padding-bottom-x4 {
  padding-bottom: 64px !important;
}

.no-padding-top-mobile{
  @include mobile{
    padding-top: 0 !important;
  }
}

.text-align-left {
  text-align: left !important;
}
.text-align-right {
  text-align: right !important;
}
.text-align-center {
  text-align: center !important;
}

.nobr {
  white-space: nowrap;
}

.color-main {
  color: $colorMain !important;
}

.color-text {
  color: $colorText !important;
}

.color-white {
  color: $colorWhite !important;
}


hr, .hr {
  margin: 0;
  height: 1px;
  background: red;
  border: none;
}

.font-weight-normal {
  font-weight: 400!important;
}

.with-left-line {
  padding-left: 20px;
  border-left: 2px solid $colorWhite;
  line-height: 28px;
}

.pointer {
  cursor: pointer;
}

.z-index-more {
  z-index: 15!important;
}

.overflow-visible {
  overflow: visible!important;
}
