$mobile: 1000px;
$mobileSmall: 359px;
$mobileLandscape: 1000px;
$tablet: 760px;
$desktop: 1000px;
$desktop-smaller: 1250px;
$desktop-small: 1400px;
$desktop-m: 1440px;
$desktop-medium: 1600px;

@mixin desktop  {
  @media (min-width: #{$desktop}) {
    @content;
  }
};

@mixin desktop-medium  {
  @media (min-width: #{$desktop}) and (max-width: #{$desktop-medium}) {
    @content;
  }
};

@mixin desktop-small  {
  @media (min-width: #{$desktop}) and (max-width: #{$desktop-small}) {
    @content;
  }
};

@mixin desktop-m{
  @media (min-width: #{$desktop}) and (max-width: #{$desktop-m}) {
    @content;
  }
};

@mixin desktop-smaller  {
  @media (min-width: #{$desktop}) and (max-width: #{$desktop-smaller}) {
    @content;
  }
};

@mixin mobile  {
  @media
  (max-width: #{$mobileLandscape}) and (orientation: landscape),
  (max-width: #{$mobile}) and (orientation: portrait)
  {
    @content;
  }
};

@mixin only-mobile  {
  @media (max-width: #{$tablet})
  {
    @content;
  }
};
@mixin mobile-small  {
  @media (max-width: #{$mobileSmall})
  {
    @content;
  }
};


@mixin tablet  {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop}) {
    @content;
  }
};

@mixin tablet-mobile {
  @media (max-width: #{$desktop}) {
    @content;
  }
}
