.modal-window {
  display: block;
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateY(100%);
  transition: transform .6s ease;

  &.fade-in {
    opacity: 0;
    z-index: -12;
    transform: translateY(0);
    transition: opacity .6s ease;
  }

  &.fade-in-show {
    opacity: 1;
    z-index: 9999;
  }

  &.show {
    transform: translateY(0);
  }

  .modal-content {
    display: block;
    position: relative;
    margin: 30px auto;
    padding: 100px 70px;
    max-width: 480px;
    background: #121212;
    box-sizing: border-box;
    border: 1px solid #5E5E5E;
    min-height: 595px;

    &.reserve{
      top: 50%;
      transform: translateY(-50%);

      @include only-mobile{
        margin-top: 0;
        height: 100%;
        border: none;
        padding: 22px 15px;

        .modal-header{
          font-size: 20px;
          line-height: 30px;
        }

        .modal-header-room{
          font-size: 14px;
          line-height: 17px;
          margin-top: 11px !important;
        }

        .field.empty .label{
          font-size: 20px;
          line-height: 172.5%;
        }

        .modal-caption-with-close{
          margin-bottom: 24px;
        }
      }
    }

    &.modal-content-medium {
      padding: 0;
      border-radius: 0;
      background: transparent;
      @include desktop {
        max-width: 612px;
      }
    }
    &.modal-content-small {
      @include desktop {
        max-width: 700px;
      }
    }
    @include mobile {
      margin-left: 15px;
      margin-right: 15px;
      max-width: none;

      &.modal-content-small, &.modal-content-medium {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .modal-caption-with-close {
      @include mobile {
        padding-right: 40px;
      }
    }

    .modal-section{
      background: #121212;
    }

    .modal-header{
      font-family: $fontBase;
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 50px;
      text-transform: uppercase;
      color: #FFFFFF;

      &.hide{
        transform: translateY(-100%);
        opacity: 0;
        pointer-events: none;
      }
    }

    .modal-header-room{
      font-family: $fontAccent;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      color: #E56543;

      &.hide{
        transform: translateY(-100%);
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  .content {
    display: block;
    position: absolute;
    z-index: 800;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    overflow: auto;

    @include mobile {
      padding-bottom: 50px;
    }
  }

  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 900;
    right: 0;
    top: 50%;
    margin: -26px 0 0 0;
    width: 52px;
    height: 52px;
    border-radius: 20px;
    text-decoration: none;
    &.close-small{
      width: 50px;
      height: 50px;
      border-radius: 12px;
      background-size: cover;
      background-image: url('../img/x.svg');
      top: 0;
      margin-top: 0;

      @include mobile{
        width: 30px;
        height: 30px;
      }
      .icon {
        font-size: 15px;
        color: $colorWhite;
      }
    }
    &.top {
      top: 56px;
      right: 66px;
      margin: 0;

      @include mobile {
        margin: 0;
        top: 20px;
        right: 20px;
      }
    }

    @include mobile {
      margin-top: -16px;
      width: 30px;
      height: 30px;
      border-radius: 12px;
    }

    .icon {
      font-size: 16px;
      color: $colorWhite;
    }
  }

  .close-mobile-button {
    position: absolute;
    z-index: 900;
    left: 50%;
    bottom: 20px;
    margin: 0;
    transform: translateX(-50%);
  }

  .modal-caption-with-close {
    position: relative;
    padding-right: 75px;
    margin-bottom: 55px;
    &.modal-caption-with-close_small {
      padding-right: 45px;
    }

    &.hide{
      transform: translateY(-100%);
      opacity: 0;
      pointer-events: none;
    }
  }
}

.modal-window-pxl {
  display: none;
  position: fixed;
  z-index: 900;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .8);
  opacity: 0;
  transition: opacity .4s ease;
}

.open-modal {

  .modal-window {
    top: 0;
  }
  .modal-window-pxl {
    display: block;
  }
}

.open-modal-effect {
  overflow: hidden;

  .body {
    transform: scale(.95);
  }
  .modal-window-pxl {
    opacity: 1;
  }
}

.open-modal-fade-effect {
  overflow: hidden;

  .modal-window-pxl {
    opacity: 1;
  }
}
