.ranger{
  width: 100%;

  .ui-slider-handle:last-child{
    transform: translateX(-100%);
  }
}


.range-wrapper {
  position: relative;
  height: 4px;
  width: 100%;
  margin: 0;
  z-index: 2;
}

.range-wrapper .ranger {
  height: 20px;
  position: absolute;
  left: 0;
  right: 20px;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.range-wrapper .ranger .ui-slider-handle {
  position: absolute;
  bottom: -1.5px;
  outline: none;
  left: 0;
  right: 20px;
  height: 14px;
  width: 14px;
  border-radius: 3px;
  z-index: 3;
  background: #E56543;
}

.range-wrapper .ranger .ui-slider-range.ui-widget-header.ui-corner-all {
  position: absolute;
  height: 2px;
  background: #E56543;
  top: 14px;
}

.range-slider{
  display: block !important;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  background: #262626;
  font-size: 0;
  font-weight: 400;
  color: #000;
  border-radius: 3px;
  outline: none;
  box-sizing: border-box;
  transition: all .2s ease;
}

.range-col {
  width: 60%;
  display: inline-block;
  position: relative;
  height: 100%;

  @include desktop-medium{
    width: 47%;
  }

  @include mobile{
    width: 46%;
  }
}

.range-col:nth-child(2) {
  width: 40%;
}

.range-slider .name {
  font-size: 16px;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #A3A3A3;

  @include desktop-medium{
    left: 7px;
  }
}

.range-slider .value {
  font-size: 20px;
  position: absolute;
  left: 40px;
  top: 50%;
  color: #CACACA;
  transform: translateY(-50%);

  @include desktop-medium{
    left: 30px;
    font-size: 17px;
  }

}

.range-col:nth-child(2):before {
  content: '';
  display: block;
  top: 50%;
  position: absolute;
  width: 1px;
  left: 3px;
  margin-top: -12.5px;
  height: 25px;
  background: #353535;
}

@include desktop{
  .cost{
    .range-col:nth-child(1){
      width: 52%;
    }
  }

  .square{
    .range-col:nth-child(1){
      width: 47%;
    }
  }
}

/*@media (min-width: 1000px) and (max-width: 1150px) {
  .filter-block{

    .cost{
      width: 16% !important;
    }

    .square{
      width: 17% !important;
    }

    .floor{
      width: 12% !important;
    }
  }
}*/


///select

select {
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.select-wrap {
  display: block !important;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 1em;
  font-weight: 400;
  color: white;
  background: #262626;
  border-radius: 3px;
  outline: none;
  transition: all .2s ease;

  &.sorter{
    height: auto;
    background: transparent;
    width: 6%;

    .jq-selectbox__trigger{
      display: none;
    }

    .jq-selectbox__select{
      width: max-content;
    }

    .jq-selectbox__select-text{
      padding-top: 11px;
      margin: 0 0 0 10px;
      font-size: 20px;
      line-height: 24px;
      border-bottom: 1px solid #E56543;
      color: #E56543;
      font-family: $fontAccent;
    }

    .jq-selectbox__dropdown ul{
     width: max-content;
    }

    .jq-selectbox__dropdown li{
      font-family: $fontAccent;
    }

    .jq-selectbox__dropdown li:nth-child(2){
      padding-top:13px;
    }

    .jq-selectbox__dropdown li:last-child{
      padding-bottom:13px;
    }


    .jq-selectbox__dropdown{
      top: 45px;
    }

    .ph{
      display: none;
    }
  }
}

.jq-selectbox {
  display: block !important;
  z-index: 4 !important;
  margin: 0;
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 1em;
  font-weight: 400;
  color: white;
  border-radius: 4px;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.jq-selectbox__select-text {
  display: block;
  margin: 0 30px 0 15px;
  text-align: left;
  padding: 20px 0 0
}

.jq-selectbox__select-text.placeholder {
  display: none !important
}

.jq-selectbox__select {
  display: block;
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  cursor: pointer
}

.jq-selectbox__dropdown {
  display: block;
  position: absolute;
  left: -1px;
  right: -1px;
  top: 60px;
  background: #262626;
  border-radius: 4px;
  z-index: 100;
}

.jq-selectbox__dropdown ul {
  display: block;
  margin: 0 0 0;
  padding: 0;
  max-height: 300px  ;
  background: #101010;
  /* border: 1px solid #E4E4E4;*/
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #494949;
}

.jq-selectbox__dropdown ul:before {
  display: none;
}


.jq-selectbox__dropdown li {
  display: block;
  margin: 0;
  padding: 7px 13px;
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 400;
  text-align: left;
  color: white;
  cursor: pointer
}

.jq-selectbox__dropdown ul li:before {
  display: none;
}

.jq-selectbox__dropdown li.selected,
.jq-selectbox__dropdown li:hover {
  color: #E56543;
}

.jq-selectbox__trigger {
  display: block;
  position: absolute;
  z-index: 3;
  right: 15px;
  top: 50%;
  margin: -5px 0 0;
  width: 10px;
  font-size: 10px;
  color: #E56543;
}

.jq-selectbox__trigger-arrow:before {
  content: "\65";
}

.jq-selectbox__trigger {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  margin-top: -10px;
}

.label {
  top: 18px;
  font-size: 15px;
  line-height: 1em;
  color: #333333;
}

