// Типографика

.section {
  display: block;
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 80px 0;
  background-color: $colorWhite;
  overflow: hidden;

  &.filter-overflow{
    overflow: initial;
  }

  &.filter-zindex{
    z-index:9;
  }

  &.black-theme{
    background: #121212;
  }

  &.filter-border{
    border-bottom: 1px solid #353535;

    @include mobile{
      border-bottom: none;
    }
  }

  &.apartment{
    flex-shrink: 0;
  }

  &.section-bg{
    transform: scale(1.4);
    animation: zoom-2 0.2s 3.8s linear forwards;
    margin-top: 1.1rem;

    @keyframes zoom-2 {
      to {
        transform: scale(1);
        margin-top: 0;
      }
    }
  }

  @include mobile {
    padding: 30px 0;
  }

  &.transparent {
    background-color: transparent;
  }

  &.fullscreen,
  .fullscreen {
    height: 100vh;
    min-height: 500px;

    @include mobile {
      height: 640px;
    }

    @include mobile-small {
      min-height: 500px;
      height: 500px;
    }
  }

  &.fullscreen-with-submenu,
  .fullscreen-with-submenu {
    height: calc(100vh - 164px);
    min-height: 500px;

    @include mobile {
      height: 530px;
    }
  }

  /* заголовки */
  %title-shared {
    margin: 1.3rem 0;
    line-height: 1.45em;
    font-weight: 400;
    color: $colorMain;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }

    @include mobile {
      margin: 12px 0;
    }
  }
  h1, .h1 {
    @extend %title-shared;
    font-family: $fontBase;
    font-size: 3.15rem;
  }
  h2, .h2 {
    @extend %title-shared;
    font-family: $fontBase;
    font-size: 2.1rem;

    @include tablet {
      font-size: 2.5rem;
    }
  }
  h3, .h3 {
    @extend %title-shared;
    font-family: $fontBase;
    font-size: 1.57rem;
  }
  h4, .h4 {
    @extend %title-shared;
    font-family: $fontBase;
    font-size: 1.05rem;
  }
  h5, .h5 {
    @extend %title-shared;
    font-family: $fontBase;
    font-size: 0.95rem;
  }
  h6, .h6 {
    @extend %title-shared;
    font-family: $fontBase;
    font-size: 0.84rem;
  }

  /* END заголовки */

  a {
    text-decoration: underline;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &.switcher-link{
      display: contents;
    }
  }

  .caption-with-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 1px 0;

    * {
      margin: 0 30px 0 0;
      .address, .round-icon, .icon {
        margin-right: 0;
      }
    }

    .button {
      margin: 10px 0;
    }
  }

  .d-flex {
    display: flex;
    align-items: center;
  }
  .flex-wrap {
    flex-wrap: wrap;
    & > div, & > p {
      width: 100%;
    }
  }
  /* END текста */



  // переключатели
  .toggle-block {

    .toggle-content {
      display: none;
    }
    .open-text {
      display: block;
    }
    .close-text {
      display: none;
    }

    &.open {
      .toggle-content {
        display: block;
      }
      .open-text {
        display: none;
      }
      .close-text {
        display: block;
      }

      .arrow {
        transform: rotate(180deg);
      }
    }
  }
}
