$fontBase: 'Oswald',Arial , sans-serif;
$fontAccent: 'Rubik',Arial , sans-serif;

$colorMain: #073B58;
$colorAccent: #95B8CC;

$colorGray: #A3A3A3;
$colorOrange:#E56543;

$colorWhite: #fff;
$colorBlack: #000;

$colorText:#121212;
$colorGrayText:#A3A3A3;