</div>

<div class="modal-window fade-in" data-modal="reserve_modal">
    <div class="modal-content modal-content-small reserve">
        <div class="section modal-section no-padding">
            <div class="container container-sp">
                <div class="modal-caption-with-close modal-caption-with-close_small">
                  <div class="modal-header">Получить консультацию</div>
                    <p class="no-margin-bottom no-margin-top color-text-gray small-text modal-header-room" data-apartment>1-комнатная № 46</p>
                    <a href="#" class="close close-small" data-close-modal-button="reserve_modal"
                       data-effect-type="open-modal-fade-effect">
                        <i class="icon icon-cancel"></i>
                    </a>
                </div>
                <form action="" id="reserve_form" class="feedback-form">
                    <label class="field field-input item">
                        <input class="input-text placeholder validate" data-placeholder="Ваше имя"
                               data-validate="required" id="reserve_name" name="reserve_name" type="text">
                        <p class="error-message hide"></p>
                    </label>

                    <label class="field field-input item">
                        <input class="input-text placeholder validate input-mask" data-mask_tpl="phone_plus7"
                               data-placeholder="Номер телефона" data-validate="mobile_phone" id="reserve_phone"
                               name="reserve_phone" type="text" value="" inputmode="text">
                        <p class="error-message"></p>
                    </label>

                    <div class="form-message">
                        <div class="form-info">
                            <p class="message-title">Отлично!</p>
                            <p class="message-subtitle">Мы скоро свяжемся с вами</p>
                            <button class="button message-button" data-close-modal-button="reserve_modal" data-effect-type="open-modal-fade-effect">
                                <span class="color-white">Закрыть</span>
                            </button>
                        </div>
                    </div>

                    <button class="button delay-500 no-margin-bottom" type="submit">
                        <span class="color-white">Отправить</span>
                    </button>
                    <div class="personal">Нажимая кнопку вы даете согласие на обработку персональных данных</div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal-window-pxl"></div>
</body>
</html>