<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#ef1b34">
    <meta name="msapplication-TileColor" content="#ef1b34">
    <meta name="theme-color" content="#ffffff">

    <title><%=title%></title>
</head>

<body>
    <div id="header_mobile" class="header-mobile hide-desktop">
        <div class="header-mobile-content">
           <a href="/">
               <div class="left">
                   <div class="logo">ЭСТЕТИКА</div>
                   <div class="logo-second">ЖК</div>
               </div>
           </a>
            <div class="burger">
                <div class="top"></div>
                <div class="center"></div>
                <div class="bottom"></div>
            </div>
        </div>
    </div>

    <div id="mobile_menu" class="mobile-menu hide-desktop">
        <div class="menu">
            <a href="#" class="link">Главная</a>
            <a href="/room-select.html" class="link">Выбрать на плане</a>
            <a href="/filter.html" class="link">Выбор по параметрам</a>
            <a href="#" class="link">Новости</a>
            <a href="#" class="link">Как купить</a>
            <a href="#" class="link">Преимущества</a>
            <a href="#" class="link">Документы</a>
            <a href="#" class="link">Ход строительства</a>
            <div class="close" data-close-mobile-menu></div>
        </div>

    </div>

    <div class="header-mobile-margin hide-desktop"></div>

    <div class="body">
        <div id="header" class="header hide-mobile">
            <div class="header-content">
               <a href="./">
                   <div class="left">
                       <div class="logo">ЭСТЕТИКА</div>
                       <div class="logo-second">ЖК</div>
                   </div>
               </a>
                <div class="right">
                    <div class="main-nav-block">
                        <ul class="nav">
                            <li class="nav-item"><a href="/">Главная</a></li>
                            <li class="nav-item dropdown-trigger"><a href="">Выбрать квартиру
                            </a>
                                <div class="dropdown">
                                    <div class="dropdown-link"><a href="./room-select.html">Выбрать на плане</a></div>
                                    <div class="dropdown-link"><a href="./filter.html">Выбор по параметрам</a></div>
                                </div>
                            </li>
                            <li class="nav-item"><a>Контакты</a></li>
                            <li class="nav-item"><a>Новости</a></li>
                            <li class="nav-item"><a>Как купить</a></li>
                            <li class="nav-item"><a>Преимущества</a></li>
                            <li class="nav-item"><a>Документы</a></li>
                            <li class="nav-item"><a>Ход строительства</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
