<% var data={ title: "ЖК Эстетика" }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div id="apartment_landing"></div>
<div class="flex-section black-theme">
    <div class="section apartment no-padding-vertical black-theme">
        <div class="container">
            <div class="breadcrumbs">
                <a class="breadcrumb white-theme link" href="#">Главная</a>
                <div class="divide">/</div>
                <a class="breadcrumb white-theme link" href="#">Выбор квартиры</a>
                <div class="divide">/</div>
                <a href="#" class="breadcrumb white-theme link">3 этаж, секция 2.1 </a>
                <div class="divide">/</div>
                <div class="breadcrumb">1-комнатная № 46</div>
            </div>
            <h2 class="breadcrumb-head room-select white-theme">1-комнатная&nbsp;<br class="hide-desktop">№ 46</h2>
            <div class="compass-block apartment hide-desktop"></div>
        </div>
    </div>

    <div class="section flex-grow padding-top-x2-apartment no-padding-top-mobile no-padding-bottom no-margin-bottom overflow-visible black-theme">
        <div class="container apartment">
            <div class="floor-wrapper apartment">
                <div class="location-block">
                    <div class="info">
                        <div class="text">
                            <div class="description">Общая площадь</div>
                            <div class="dash"></div>
                            <div class="value">47.70 м²</div>
                        </div>
                        <div class="text">
                            <div class="description">Жилая площадь</div>
                            <div class="dash"></div>
                            <div class="value"> 19.00 м²</div>
                        </div>
                        <div class="text">
                            <div class="description">Площадь кухни</div>
                            <div class="dash"></div>
                            <div class="value"> 13.39 м²</div>
                        </div>
                        <div class="text">
                            <div class="description">Цена за м²</div>
                            <div class="dash"></div>
                            <div class="value">89 000 ₽</div>
                        </div>
                        <div class="text">
                            <div class="description">Срок сдачи</div>
                            <div class="dash"></div>
                            <div class="value">III кв. 2026</div>
                        </div>
                        <div class="text">
                            <div class="description">Этаж</div>
                            <div class="dash"></div>
                            <div class="value"> 6 этаж</div>
                        </div>
                        <div class="text">
                            <div class="description">Подъезд</div>
                            <div class="dash"></div>
                            <div class="value">1 подъезд</div>
                        </div>
                        <div class="text">
                            <div class="description">Дом</div>
                            <div class="dash"></div>
                            <div class="value">2 дом</div>
                        </div>
                        <div class="text">
                            <div class="description">Вид из окна</div>
                            <div class="dash"></div>
                            <div class="value">ул. Ново-садовая</div>
                        </div>
                    </div>
                    <div class="big-price">8 264 400 ₽</div>
                    <div class="btn-wrapper">
                       <div class="upper-buttons">
                           <div class="consult" data-open-modal-button="reserve_modal"
                                data-effect-type="open-modal-fade-effect">Получить консультацию</div>
                           <a href="#" target="_blank" class="pdf">PDF</a>
                       </div>
                       <a href="#" class="garages">Выбрать машино-место</a>
                    </div>
                </div>
                <div class="floor-block apartment">
                    <div class="drawing-block apartment swiper" data-drawing_block>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img data-apartment="1" class="apartment-image active" src="./img/apartment/apartment1.png" alt=""/>
                            </div>
                            <div class="swiper-slide">
                                <img data-apartment="2" class="apartment-image" src="./img/apartment/apartment2.png" alt=""/>
                            </div>
                        </div>
                        <div class="image-switcher-block">
                            <div data-switcher="2" class="hide-mobile image-switcher swiper-button-next"></div>
                            <div data-switcher="1"  class="hide-mobile image-switcher swiper-button-prev" ></div>

                            <div data-switcher="2" class="hide-desktop image-switcher swiper-button-prev"></div>
                            <div data-switcher="1"  class="hide-desktop image-switcher swiper-button-next" ></div>
                        </div>
                    </div>
                </div>
                <div class="info-container">
                    <div class="compass-block apartment hide-mobile"></div>
                    <div class="status-block apartment">
                       <div class="floor-plan">
                           <div class="text">План этажа</div>
                           <div class="drawing-block" data-drawing_block>
                               <div id="rc_sections_drawing" class="drawing" data-width="3500" data-height="2415" data-drawing=""
                                    data-image="./img/room-select/room-select.png"  data-items='
                                    [
                                 {
                                    "id": "1",
                                    "sold": "1",
                                    "coords": "537.25 321.34 189.37 321.34 189.37 1874.87 570.23 1874.87 570.23 1123.19 916.55 1123.19 916.55 922.5 907.21 922.5 907.21 301.74 537.56 301.74 537.25 321.34"

                                },{
                                    "id": "2",
                                    "sold": "1",
                                    "coords": "1882.22 948.63 1882.22 192.52 1882.22 171.05 2631.33 171.05 2631.33 191.59 2873.1 191.59 2873.1 171.05 2914.17 171.05 2914.17 948.63 1882.22 948.63"

                                },
                                {
                                    "id": "3",
                                    "sold": "1",
                                    "coords": "1214.33 1874.87 1214.33 1096.35 1871.49 1096.35 1871.49 1855.96 1587.71 1855.96 1587.71 1874.87 1214.33 1874.87"
                                },
                                {
                                    "id": "4",
                                    "sold": "1",
                                    "coords": "2914.17 322.27 3307.17 322.27 3307.17 1874.87 2620.13 1874.87 2620.13 1854.1 2320.49 1854.1 2320.49 1098.57 2419.3 1098.57 2419.3 948.63 2914.17 948.63 2914.17 322.27"
                                },
                                {
                                    "id": "5",
                                    "sold": "0",
                                    "coords": "570.23 1874.87 570.23 1123.19 916.55 1123.19 916.55 1096.35 1214.33 1096.35 1214.33 1874.87 860.23 1874.87 860.23 1854.72 612.7 1854.72 612.7 1874.87 570.23 1874.87"

                                },
                                {
                                    "id": "6",
                                    "sold": "1",
                                    "coords": "1882.22 948.63 916.55 948.63 916.55 922.5 907.21 922.5 907.21 301.74 862.41 301.74 862.41 192.52 1191.92 192.52 1191.92 171.05 1882.22 171.05 1882.22 948.63"
                                }
                                    ]'></div>
                           </div>
                       </div>
                        <div class="complex-plan">
                            <div class="text">План комплекса</div>
                            <img class="complex-plan" src="./img/apartment/complex-plan.svg" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>