<% var data={ title: "ЖК Эстетика" }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div id="filter_landing"></div>

<div class="flex-section">
    <div class="section filter-border apartment no-padding-vertical black-theme">
        <div class="container ">
            <div class="breadcrumbs">
                <a class="breadcrumb white-theme link" href="#">Главная</a>
                <div class="divide">/</div>
                <div class="breadcrumb">Выбор по параметрам</div>
            </div>
            <h2 class="breadcrumb-head filter white-theme">КВАРТИРЫ</h2>
        </div>
    </div>

    <div class="section filter-border filter-overflow apartment no-padding-vertical black-theme">
        <div class="container">
           <div class="filter-block">
               <div class="rooms">
                   <div class="filter-item-title">Количество комнат</div>
                   <div class="rooms-block" id="location">
                       <div class=" item room-block-filter" data-location="1">1к</div>
                       <div class=" item room-block-filter" data-location="2">2к</div>
                       <div class=" item room-block-filter" data-location="3">3к</div>
                   </div>
               </div>
               <div class="cost">
                   <div class="filter-item-title">Стоимость, млн. руб.</div>
                   <div class="input-field">
                       <div class="range-slider">
                           <div class="range-col">
                               <div class="name">от</div>
                               <div class="value"><span id="min_price" data-price></span></div>
                           </div>
                           <div class="range-col">
                               <div class="name">до</div>
                               <div class="value"><span id="max_price" data-price></span></div>
                           </div>
                           <div class="range-wrapper">
                               <div class="ranger" id="range_slider_price"></div>
                           </div>
                           <input type="hidden" id="min_price_val">
                           <input type="hidden" id="max_price_val">
                       </div>
                   </div>
               </div>
               <div class="square">
                   <div class="filter-item-title">Площадь, м²</div>
                   <div class="input-field">
                       <div class="range-slider">
                           <div class="range-col">
                               <div class="name">от</div>
                               <div class="value"><span id="min_square" data-square></span></div>
                           </div>
                           <div class="range-col">
                               <div class="name">до</div>
                               <div class="value"><span id="max_square" data-square></span></div>
                           </div>
                           <div class="range-wrapper">
                               <div class="ranger" id="range_slider_square"></div>
                           </div>
                           <input type="hidden" id="min_square_val">
                           <input type="hidden" id="max_square_val">
                       </div>
                   </div>
               </div>
               <div class="floor">
                   <div class="filter-item-title">Этаж</div>
                   <div class="input-field">
                       <div class="range-slider">
                           <div class="range-col">
                               <div class="name">от</div>
                               <div class="value"><span id="min_floor" data-floor></span></div>
                           </div>
                           <div class="range-col">
                               <div class="name">до</div>
                               <div class="value"><span id="max_floor" data-floor></span></div>
                           </div>
                           <div class="range-wrapper">
                               <div class="ranger" id="range_slider_floor"></div>
                           </div>
                           <input type="hidden" id="min_floor_val">
                           <input type="hidden" id="max_floor_val">
                       </div>
                   </div>
               </div>
               <div class="window-view hide">
                   <div class="filter-item-title">Вид из окна</div>
                   <div class="select-wrap ">
                       <select class="placeholder-select" data-placeholder="Любой" name="window_view" id="window_view">
                           <option class="ph" value=""></option>
                           <option selected  value="0">Любой</option>
                           <option value="1">во двор</option>
                           <option value="2">ул. Ново-садовая</option>
                           <option value="3">р. Волга</option>
                           <option value="4">на обе стороны</option>
                       </select>
                       <input type="hidden" id="fixed_window_view" >
                   </div>
               </div>
               <div class="button-block" id="rooms_conter">68 квартир</div>

           </div>
        </div>
    </div>

    <div class="section flex-grow filter-zindex apartment no-padding-vertical black-theme">
        <div class="container">
            <div class="apartments-wrapper">
                <div class="sort">
                    <div class="text">Сортировать:</div>
                    <div class="select-wrap sorter">
                        <select class="placeholder-select" data-placeholder="" data-sort="asc" name="sorting" id="sorting">
                            <option class="ph" value=""></option>
                            <option selected  value="price">по цене</option>
                            <option value="square">по площади</option>
                        </select>
                        <input type="hidden" id="fixed_sorting" >
                    </div>
                </div>
                <div class="filter-results" data-rooms='[{"id":"12","rooms":"1","image":"\/netcat_files\/27\/23\/s1p1e1kv2m0.png","floor":"1","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-1\/kvartiry_12.html","fullprice":4531500,"square":"47.7","windowView":["1"]},{"id":"69","rooms":"1","image":"\/netcat_files\/23\/17\/s1p2e3kv2m0.png","floor":"3","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-3\/kvartiry_69.html","fullprice":4770000,"square":"47.7","windowView":["1"]},{"id":"63","rooms":"1","image":"\/netcat_files\/33\/35\/s1p2e2kv2m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-2\/kvartiry_63.html","fullprice":4770000,"square":"47.7","windowView":["1"]},{"id":"57","rooms":"1","image":"\/netcat_files\/34\/37\/s1p2e1kv2m0.png","floor":"1","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-1\/kvartiry_57.html","fullprice":4770000,"square":"47.7","windowView":["1"]},{"id":"75","rooms":"1","image":"\/netcat_files\/35\/39\/s1p2e4kv2m0.png","floor":"4","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-4\/kvartiry_75.html","fullprice":4770000,"square":"47.7","windowView":["1"]},{"id":"81","rooms":"1","image":"\/netcat_files\/36\/41\/s1p2e5kv2m0.png","floor":"5","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-5\/kvartiry_81.html","fullprice":4770000,"square":"47.7","windowView":["1"]},{"id":"87","rooms":"1","image":"\/netcat_files\/37\/43\/s1p2e6kv2m0.png","floor":"6","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-6\/kvartiry_87.html","fullprice":4770000,"square":"47.7","windowView":["1"]},{"id":"10","rooms":"1","image":"\/netcat_files\/21\/13\/s1p1e2kv2m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-2\/kvartiry_10.html","fullprice":4770000,"square":"47.7","windowView":["1"]},{"id":"23","rooms":"1","image":"\/netcat_files\/24\/19\/s1p1e3kv2m0.png","floor":"3","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-3\/kvartiry_23.html","fullprice":4770000,"square":"47.7","windowView":["1"]},{"id":"29","rooms":"1","image":"\/netcat_files\/28\/25\/s1p1e4kv2m0.png","floor":"4","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-4\/kvartiry_29.html","fullprice":4770000,"square":"47.7","windowView":["1"]},{"id":"35","rooms":"1","image":"\/netcat_files\/29\/27\/s1p1e4kv2m0.png","floor":"5","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-5\/kvartiry_35.html","fullprice":4770000,"square":"47.7","windowView":["1"]},{"id":"41","rooms":"1","image":"\/netcat_files\/30\/29\/s1p1e4kv2m0.png","floor":"6","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-6\/kvartiry_41.html","fullprice":4770000,"square":"47.7","windowView":["1"]},{"id":"103","rooms":"1","image":"\/netcat_files\/40\/49\/s2p1e1kv2m0.png","floor":"1","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-1\/kvartiry_103.html","fullprice":4770000,"square":"47.7","windowView":["1"]},{"id":"110","rooms":"1","image":"\/netcat_files\/41\/51\/s2p1e2kv2m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-2\/kvartiry_110.html","fullprice":4770000,"square":"47.7","windowView":["1"]},{"id":"117","rooms":"1","image":"\/netcat_files\/42\/53\/s2p1e3kv2m0.png","floor":"3","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-3\/kvartiry_117.html","fullprice":4770000,"square":"47.7","windowView":["1"]},{"id":"123","rooms":"1","image":"\/netcat_files\/43\/55\/s2p1e4kv2m0.png","floor":"4","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-4\/kvartiry_123.html","fullprice":4770000,"square":"47.7","windowView":["1"]},{"id":"129","rooms":"1","image":"\/netcat_files\/44\/57\/s2p1e5kv2m0.png","floor":"5","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-5\/kvartiry_129.html","fullprice":4770000,"square":"47.7","windowView":["1"]},{"id":"135","rooms":"1","image":"\/netcat_files\/46\/63\/s2p1e6kv2m0.png","floor":"6","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-6\/kvartiry_135.html","fullprice":4770000,"square":"47.7","windowView":["1"]},{"id":"151","rooms":"1","image":"\/netcat_files\/50\/69\/s2p2e1kv2m0.png","floor":"1","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-1\/kvartiry_151.html","fullprice":4770000,"square":"47.7","windowView":["1"]},{"id":"158","rooms":"1","image":"\/netcat_files\/51\/71\/s2p2e2kv2m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-2\/kvartiry_158.html","fullprice":4770000,"square":"47.7","windowView":["1"]},{"id":"165","rooms":"1","image":"\/netcat_files\/52\/73\/s2p2e3kv2m0.png","floor":"3","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-3\/kvartiry_165.html","fullprice":4770000,"square":"47.7","windowView":["1"]},{"id":"171","rooms":"1","image":"\/netcat_files\/53\/75\/s2p2e4kv2m0.png","floor":"4","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-4\/kvartiry_171.html","fullprice":4770000,"square":"47.7","windowView":["1"]},{"id":"177","rooms":"1","image":"\/netcat_files\/54\/77\/s2p2e5kv2m0.png","floor":"5","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-5\/kvartiry_177.html","fullprice":4770000,"square":"47.7","windowView":["1"]},{"id":"183","rooms":"1","image":"\/netcat_files\/55\/79\/s2p2e6kv2m0.png","floor":"6","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-6\/kvartiry_183.html","fullprice":4770000,"square":"47.7","windowView":["1"]},{"id":"6","rooms":"1","image":"\/netcat_files\/23\/17\/s1p2e3kv1m0.png","floor":"3","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-3\/kvartiry_6.html","fullprice":4790000,"square":"47.9","windowView":["1"]},{"id":"9","rooms":"1","image":"\/netcat_files\/33\/35\/s1p2e2kv1m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-2\/kvartiry_9.html","fullprice":4790000,"square":"47.9","windowView":["1"]},{"id":"56","rooms":"1","image":"\/netcat_files\/34\/37\/s1p2e1kv1m0.png","floor":"1","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-1\/kvartiry_56.html","fullprice":4790000,"square":"47.9","windowView":["1"]},{"id":"74","rooms":"1","image":"\/netcat_files\/35\/39\/s1p2e4kv1m0.png","floor":"4","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-4\/kvartiry_74.html","fullprice":4790000,"square":"47.9","windowView":["1"]},{"id":"80","rooms":"1","image":"\/netcat_files\/36\/41\/s1p2e5kv1m0.png","floor":"5","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-5\/kvartiry_80.html","fullprice":4790000,"square":"47.9","windowView":["1"]},{"id":"86","rooms":"1","image":"\/netcat_files\/37\/43\/s1p2e6kv1m0.png","floor":"6","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-6\/kvartiry_86.html","fullprice":4790000,"square":"47.9","windowView":["1"]},{"id":"4","rooms":"1","image":"\/netcat_files\/21\/13\/s1p1e2kv1m0_0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-2\/kvartiry_4.html","fullprice":4790000,"square":"47.9","windowView":["1"]},{"id":"7","rooms":"1","image":"\/netcat_files\/24\/19\/s1p1e3kv1m0.png","floor":"3","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-3\/kvartiry_7.html","fullprice":4790000,"square":"47.9","windowView":["1"]},{"id":"28","rooms":"1","image":"\/netcat_files\/28\/25\/s1p1e4kv1m0_1.png","floor":"4","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-4\/kvartiry_28.html","fullprice":4790000,"square":"47.9","windowView":["1"]},{"id":"34","rooms":"1","image":"\/netcat_files\/29\/27\/s1p1e4kv1m0.png","floor":"5","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-5\/kvartiry_34.html","fullprice":4790000,"square":"47.9","windowView":["1"]},{"id":"40","rooms":"1","image":"\/netcat_files\/30\/29\/s1p1e4kv1m0.png","floor":"6","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-6\/kvartiry_40.html","fullprice":4790000,"square":"47.9","windowView":["1"]},{"id":"102","rooms":"1","image":"\/netcat_files\/40\/49\/s2p1e1kv1m0.png","floor":"1","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-1\/kvartiry_102.html","fullprice":4790000,"square":"47.9","windowView":["1"]},{"id":"109","rooms":"1","image":"\/netcat_files\/41\/51\/s2p1e2kv1m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-2\/kvartiry_109.html","fullprice":4790000,"square":"47.9","windowView":["1"]},{"id":"116","rooms":"1","image":"\/netcat_files\/42\/53\/s2p1e3kv1m0.png","floor":"3","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-3\/kvartiry_116.html","fullprice":4790000,"square":"47.9","windowView":["1"]},{"id":"122","rooms":"1","image":"\/netcat_files\/43\/55\/s2p1e4kv1m0.png","floor":"4","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-4\/kvartiry_122.html","fullprice":4790000,"square":"47.9","windowView":["1"]},{"id":"128","rooms":"1","image":"\/netcat_files\/44\/57\/s2p1e5kv1m0.png","floor":"5","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-5\/kvartiry_128.html","fullprice":4790000,"square":"47.9","windowView":["1"]},{"id":"134","rooms":"1","image":"\/netcat_files\/46\/63\/s2p1e6kv1m0.png","floor":"6","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-6\/kvartiry_134.html","fullprice":4790000,"square":"47.9","windowView":["1"]},{"id":"150","rooms":"1","image":"\/netcat_files\/50\/69\/s2p2e1kv1m0.png","floor":"1","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-1\/kvartiry_150.html","fullprice":4790000,"square":"47.9","windowView":["1"]},{"id":"157","rooms":"1","image":"\/netcat_files\/51\/71\/s2p2e2kv1m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-2\/kvartiry_157.html","fullprice":4790000,"square":"47.9","windowView":["1"]},{"id":"164","rooms":"1","image":"\/netcat_files\/52\/73\/s2p2e3kv1m0.png","floor":"3","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-3\/kvartiry_164.html","fullprice":4790000,"square":"47.9","windowView":["1"]},{"id":"170","rooms":"1","image":"\/netcat_files\/53\/75\/s2p2e4kv1m0.png","floor":"4","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-4\/kvartiry_170.html","fullprice":4790000,"square":"47.9","windowView":["1"]},{"id":"176","rooms":"1","image":"\/netcat_files\/54\/77\/s2p2e5kv1m0.png","floor":"5","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-5\/kvartiry_176.html","fullprice":4790000,"square":"47.9","windowView":["1"]},{"id":"182","rooms":"1","image":"\/netcat_files\/55\/79\/s2p2e6kv1m0.png","floor":"6","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-6\/kvartiry_182.html","fullprice":4790000,"square":"47.9","windowView":["1"]},{"id":"65","rooms":"1","image":"\/netcat_files\/33\/35\/s1p2e2kv4m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-2\/kvartiry_65.html","fullprice":4875000,"square":"48.75","windowView":["1"]},{"id":"59","rooms":"1","image":"\/netcat_files\/34\/37\/s1p2e1kv4m0.png","floor":"1","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-1\/kvartiry_59.html","fullprice":4875000,"square":"48.75","windowView":["1"]},{"id":"19","rooms":"1","image":"\/netcat_files\/21\/13\/s1p1e2kv4m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-2\/kvartiry_19.html","fullprice":4875000,"square":"48.75","windowView":["1"]},{"id":"14","rooms":"1","image":"\/netcat_files\/27\/23\/s1p1e1kv4m0.png","floor":"1","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-1\/kvartiry_14.html","fullprice":4875000,"square":"48.75","windowView":["1"]},{"id":"105","rooms":"1","image":"\/netcat_files\/40\/49\/s2p1e1kv4m0.png","floor":"1","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-1\/kvartiry_105.html","fullprice":4875000,"square":"48.75","windowView":["1"]},{"id":"112","rooms":"1","image":"\/netcat_files\/41\/51\/s2p1e2kv4m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-2\/kvartiry_112.html","fullprice":4875000,"square":"48.75","windowView":["1"]},{"id":"153","rooms":"1","image":"\/netcat_files\/50\/69\/s2p2e1kv4m0.png","floor":"1","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-1\/kvartiry_153.html","fullprice":4875000,"square":"48.75","windowView":["1"]},{"id":"160","rooms":"1","image":"\/netcat_files\/51\/71\/s2p2e2kv4m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-2\/kvartiry_160.html","fullprice":4875000,"square":"48.75","windowView":["1"]},{"id":"66","rooms":"1","image":"\/netcat_files\/33\/35\/s1p2e2kv5m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-2\/kvartiry_66.html","fullprice":4900000,"square":"49","windowView":["1"]},{"id":"60","rooms":"1","image":"\/netcat_files\/34\/37\/s1p2e1kv5m0.png","floor":"1","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-1\/kvartiry_60.html","fullprice":4900000,"square":"49","windowView":["1"]},{"id":"20","rooms":"1","image":"\/netcat_files\/21\/13\/s1p1e2kv5m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-2\/kvartiry_20.html","fullprice":4900000,"square":"49","windowView":["1"]},{"id":"106","rooms":"1","image":"\/netcat_files\/40\/49\/s2p1e1kv5m0.png","floor":"1","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-1\/kvartiry_106.html","fullprice":4900000,"square":"49","windowView":["1"]},{"id":"113","rooms":"1","image":"\/netcat_files\/41\/51\/s2p1e2kv5m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-2\/kvartiry_113.html","fullprice":4900000,"square":"49","windowView":["1"]},{"id":"154","rooms":"1","image":"\/netcat_files\/50\/69\/s2p2e1kv5m0.png","floor":"1","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-1\/kvartiry_154.html","fullprice":4900000,"square":"49","windowView":["1"]},{"id":"161","rooms":"1","image":"\/netcat_files\/51\/71\/s2p2e2kv5m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-2\/kvartiry_161.html","fullprice":4900000,"square":"49","windowView":["1"]},{"id":"67","rooms":"1","image":"\/netcat_files\/33\/35\/s1p2e2kv6m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-2\/kvartiry_67.html","fullprice":5322000,"square":"53.22","windowView":["1"]},{"id":"61","rooms":"1","image":"\/netcat_files\/34\/37\/s1p2e1kv6m0.png","floor":"1","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-1\/kvartiry_61.html","fullprice":5322000,"square":"53.22","windowView":["1"]},{"id":"21","rooms":"1","image":"\/netcat_files\/21\/13\/s1p1e2kv6m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-2\/kvartiry_21.html","fullprice":5322000,"square":"53.22","windowView":["1"]},{"id":"107","rooms":"1","image":"\/netcat_files\/40\/49\/s2p1e1kv6m0.png","floor":"1","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-1\/kvartiry_107.html","fullprice":5322000,"square":"53.22","windowView":["1"]},{"id":"114","rooms":"1","image":"\/netcat_files\/41\/51\/s2p1e2kv6m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-2\/kvartiry_114.html","fullprice":5322000,"square":"53.22","windowView":["1"]},{"id":"155","rooms":"1","image":"\/netcat_files\/50\/69\/s2p2e1kv6m0.png","floor":"1","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-1\/kvartiry_155.html","fullprice":5322000,"square":"53.22","windowView":["1"]},{"id":"162","rooms":"1","image":"\/netcat_files\/51\/71\/s2p2e2kv6m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-2\/kvartiry_162.html","fullprice":5322000,"square":"53.22","windowView":["1"]},{"id":"92","rooms":"2","image":"\/netcat_files\/38\/45\/s1p2e7kv1m0.png","floor":"7","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-7\/kvartiry_92.html","fullprice":7481000,"square":"74.81","windowView":["1"]},{"id":"97","rooms":"2","image":"\/netcat_files\/39\/47\/s1p2e8kv1m0.png","floor":"8","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-8\/kvartiry_97.html","fullprice":7481000,"square":"74.81","windowView":["1"]},{"id":"46","rooms":"2","image":"\/netcat_files\/31\/31\/s1p1e7kv1m0.png","floor":"7","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-7\/kvartiry_46.html","fullprice":7481000,"square":"74.81","windowView":["1"]},{"id":"51","rooms":"2","image":"\/netcat_files\/32\/33\/s1p1e8kv1m0.png","floor":"8","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-8\/kvartiry_51.html","fullprice":7481000,"square":"74.81","windowView":["1"]},{"id":"140","rooms":"2","image":"\/netcat_files\/47\/65\/s2p1e7kv1m0.png","floor":"7","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-7\/kvartiry_140.html","fullprice":7481000,"square":"74.81","windowView":["1"]},{"id":"145","rooms":"2","image":"\/netcat_files\/48\/67\/s2p1e8kv1m0.png","floor":"8","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-8\/kvartiry_145.html","fullprice":7481000,"square":"74.81","windowView":["1"]},{"id":"188","rooms":"2","image":"\/netcat_files\/56\/81\/s2p2e7kv1m0.png","floor":"7","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-7\/kvartiry_188.html","fullprice":7481000,"square":"74.81","windowView":["1"]},{"id":"193","rooms":"2","image":"\/netcat_files\/57\/83\/s1p2e8kv1m0.png","floor":"8","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-8\/kvartiry_193.html","fullprice":7481000,"square":"74.81","windowView":["1"]},{"id":"71","rooms":"2","image":"\/netcat_files\/23\/17\/s1p2e3kv66m0.png","floor":"3","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-3\/kvartiry_71.html","fullprice":7569000,"square":"75.69","windowView":["1"]},{"id":"77","rooms":"2","image":"\/netcat_files\/35\/39\/s1p2e4kv4m0.png","floor":"4","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-4\/kvartiry_77.html","fullprice":7569000,"square":"75.69","windowView":["4"]},{"id":"83","rooms":"2","image":"\/netcat_files\/36\/41\/s1p2e5kv4m0.png","floor":"5","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-5\/kvartiry_83.html","fullprice":7569000,"square":"75.69","windowView":["1"]},{"id":"89","rooms":"2","image":"\/netcat_files\/37\/43\/s1p2e6kv4m0.png","floor":"6","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-6\/kvartiry_89.html","fullprice":7569000,"square":"75.69","windowView":["1"]},{"id":"94","rooms":"2","image":"\/netcat_files\/38\/45\/s1p2e7kv3m0.png","floor":"7","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-7\/kvartiry_94.html","fullprice":7569000,"square":"75.69","windowView":["1"]},{"id":"99","rooms":"2","image":"\/netcat_files\/39\/47\/s1p2e8kv3m0.png","floor":"8","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-8\/kvartiry_99.html","fullprice":7569000,"square":"75.69","windowView":["1"]},{"id":"25","rooms":"2","image":"\/netcat_files\/24\/19\/s1p1e3kv4m0.png","floor":"3","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-3\/kvartiry_25.html","fullprice":7569000,"square":"75.69","windowView":["1"]},{"id":"31","rooms":"2","image":"\/netcat_files\/28\/25\/s1p1e4kv4m0.png","floor":"4","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-4\/kvartiry_31.html","fullprice":7569000,"square":"75.69","windowView":["1"]},{"id":"37","rooms":"2","image":"\/netcat_files\/29\/27\/s1p1e4kv4m0.png","floor":"5","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-5\/kvartiry_37.html","fullprice":7569000,"square":"75.69","windowView":["1"]},{"id":"43","rooms":"2","image":"\/netcat_files\/30\/29\/s1p1e4kv4m0.png","floor":"6","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-6\/kvartiry_43.html","fullprice":7569000,"square":"75.69","windowView":["1"]},{"id":"48","rooms":"2","image":"\/netcat_files\/31\/31\/s1p1e7kv3m0.png","floor":"7","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-7\/kvartiry_48.html","fullprice":7569000,"square":"75.69","windowView":["1"]},{"id":"53","rooms":"2","image":"\/netcat_files\/32\/33\/s1p1e8kv3m0.png","floor":"8","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-8\/kvartiry_53.html","fullprice":7569000,"square":"75.69","windowView":["1"]},{"id":"119","rooms":"2","image":"\/netcat_files\/42\/53\/s2p1e3kv4m0.png","floor":"3","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-3\/kvartiry_119.html","fullprice":7569000,"square":"75.69","windowView":["1"]},{"id":"125","rooms":"2","image":"\/netcat_files\/43\/55\/s2p1e4kv4m0.png","floor":"4","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-4\/kvartiry_125.html","fullprice":7569000,"square":"75.69","windowView":["1"]},{"id":"131","rooms":"2","image":"\/netcat_files\/44\/57\/s2p1e5kv4m0.png","floor":"5","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-5\/kvartiry_131.html","fullprice":7569000,"square":"75.69","windowView":["1"]},{"id":"137","rooms":"2","image":"\/netcat_files\/46\/63\/s2p1e6kv4m0.png","floor":"6","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-6\/kvartiry_137.html","fullprice":7569000,"square":"75.69","windowView":["1"]},{"id":"142","rooms":"2","image":"\/netcat_files\/47\/65\/s2p1e7kv3m0.png","floor":"7","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-7\/kvartiry_142.html","fullprice":7569000,"square":"75.69","windowView":["1"]},{"id":"147","rooms":"2","image":"\/netcat_files\/48\/67\/s2p1e8kv3m0.png","floor":"8","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-8\/kvartiry_147.html","fullprice":7569000,"square":"75.69","windowView":["1"]},{"id":"167","rooms":"2","image":"\/netcat_files\/52\/73\/s2p2e3kv4m0.png","floor":"3","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-3\/kvartiry_167.html","fullprice":7569000,"square":"75.69","windowView":["1"]},{"id":"173","rooms":"2","image":"\/netcat_files\/53\/75\/s2p2e4kv4m0.png","floor":"4","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-4\/kvartiry_173.html","fullprice":7569000,"square":"75.69","windowView":["1"]},{"id":"179","rooms":"2","image":"\/netcat_files\/54\/77\/s2p2e5kv4m0.png","floor":"5","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-5\/kvartiry_179.html","fullprice":7569000,"square":"75.69","windowView":["1"]},{"id":"185","rooms":"2","image":"\/netcat_files\/55\/79\/s2p2e6kv4m0.png","floor":"6","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-6\/kvartiry_185.html","fullprice":7569000,"square":"75.69","windowView":["1"]},{"id":"190","rooms":"2","image":"\/netcat_files\/56\/81\/s2p2e7kv3m0.png","floor":"7","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-7\/kvartiry_190.html","fullprice":7569000,"square":"75.69","windowView":["1"]},{"id":"195","rooms":"2","image":"\/netcat_files\/57\/83\/s1p2e8kv3m0.png","floor":"8","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-8\/kvartiry_195.html","fullprice":7569000,"square":"75.69","windowView":["1"]},{"id":"72","rooms":"2","image":"\/netcat_files\/23\/17\/s1p2e3kv67m0.png","floor":"3","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-3\/kvartiry_72.html","fullprice":7992000,"square":"79.92","windowView":["1"]},{"id":"78","rooms":"2","image":"\/netcat_files\/35\/39\/s1p2e4kv5m0.png","floor":"4","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-4\/kvartiry_78.html","fullprice":7992000,"square":"79.92","windowView":["1"]},{"id":"84","rooms":"2","image":"\/netcat_files\/36\/41\/s1p2e5kv5m0.png","floor":"5","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-5\/kvartiry_84.html","fullprice":7992000,"square":"79.92","windowView":["1"]},{"id":"90","rooms":"2","image":"\/netcat_files\/37\/43\/s1p2e6kv5m0.png","floor":"6","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-6\/kvartiry_90.html","fullprice":7992000,"square":"79.92","windowView":["1"]},{"id":"95","rooms":"2","image":"\/netcat_files\/38\/45\/s1p2e7kv4m0.png","floor":"7","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-7\/kvartiry_95.html","fullprice":7992000,"square":"79.92","windowView":["1"]},{"id":"100","rooms":"2","image":"\/netcat_files\/39\/47\/s1p2e8kv4m0.png","floor":"8","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-8\/kvartiry_100.html","fullprice":7992000,"square":"79.92","windowView":["1"]},{"id":"26","rooms":"2","image":"\/netcat_files\/24\/19\/s1p1e3kv5m0.png","floor":"3","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-3\/kvartiry_26.html","fullprice":7992000,"square":"79.92","windowView":["1"]},{"id":"32","rooms":"2","image":"\/netcat_files\/28\/25\/s1p1e4kv5m0.png","floor":"4","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-4\/kvartiry_32.html","fullprice":7992000,"square":"79.92","windowView":["1"]},{"id":"38","rooms":"2","image":"\/netcat_files\/29\/27\/s1p1e4kv5m0.png","floor":"5","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-5\/kvartiry_38.html","fullprice":7992000,"square":"79.92","windowView":["1"]},{"id":"44","rooms":"2","image":"\/netcat_files\/30\/29\/s1p1e6kv5m0.png","floor":"6","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-6\/kvartiry_44.html","fullprice":7992000,"square":"79.92","windowView":["1"]},{"id":"49","rooms":"2","image":"\/netcat_files\/31\/31\/s1p1e7kv4m0.png","floor":"7","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-7\/kvartiry_49.html","fullprice":7992000,"square":"79.92","windowView":["1"]},{"id":"54","rooms":"2","image":"\/netcat_files\/32\/33\/s1p1e8kv4m0.png","floor":"8","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-8\/kvartiry_54.html","fullprice":7992000,"square":"79.92","windowView":["1"]},{"id":"120","rooms":"2","image":"\/netcat_files\/42\/53\/s2p1e3kv5m0.png","floor":"3","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-3\/kvartiry_120.html","fullprice":7992000,"square":"79.92","windowView":["1"]},{"id":"126","rooms":"2","image":"\/netcat_files\/43\/55\/s2p1e4kv5m0.png","floor":"4","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-4\/kvartiry_126.html","fullprice":7992000,"square":"79.92","windowView":["1"]},{"id":"132","rooms":"2","image":"\/netcat_files\/44\/57\/s2p1e5kv5m0.png","floor":"5","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-5\/kvartiry_132.html","fullprice":7992000,"square":"79.92","windowView":["1"]},{"id":"138","rooms":"2","image":"\/netcat_files\/46\/63\/s2p1e6kv5m0.png","floor":"6","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-6\/kvartiry_138.html","fullprice":7992000,"square":"79.92","windowView":["1"]},{"id":"143","rooms":"2","image":"\/netcat_files\/47\/65\/s2p1e7kv4m0.png","floor":"7","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-7\/kvartiry_143.html","fullprice":7992000,"square":"79.92","windowView":["1"]},{"id":"148","rooms":"2","image":"\/netcat_files\/48\/67\/s2p1e8kv4m0.png","floor":"8","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-8\/kvartiry_148.html","fullprice":7992000,"square":"79.92","windowView":["1"]},{"id":"168","rooms":"2","image":"\/netcat_files\/52\/73\/s2p2e3kv5m0.png","floor":"3","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-3\/kvartiry_168.html","fullprice":7992000,"square":"79.92","windowView":["1"]},{"id":"174","rooms":"2","image":"\/netcat_files\/53\/75\/s2p2e4kv5m0.png","floor":"4","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-4\/kvartiry_174.html","fullprice":7992000,"square":"79.92","windowView":["1"]},{"id":"180","rooms":"2","image":"\/netcat_files\/54\/77\/s2p2e5kv5m0.png","floor":"5","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-5\/kvartiry_180.html","fullprice":7992000,"square":"79.92","windowView":["4"]},{"id":"186","rooms":"2","image":"\/netcat_files\/55\/79\/s2p2e6kv5m0.png","floor":"6","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-6\/kvartiry_186.html","fullprice":7992000,"square":"79.92","windowView":["1"]},{"id":"191","rooms":"2","image":"\/netcat_files\/56\/81\/s2p2e7kv4m0.png","floor":"7","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-7\/kvartiry_191.html","fullprice":7992000,"square":"79.92","windowView":["1"]},{"id":"196","rooms":"2","image":"\/netcat_files\/57\/83\/s1p2e8kv4m0.png","floor":"8","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-8\/kvartiry_196.html","fullprice":7992000,"square":"79.92","windowView":["1"]},{"id":"70","rooms":"2","image":"\/netcat_files\/23\/17\/s1p2e3kv3m0.png","floor":"3","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-3\/kvartiry_70.html","fullprice":8181000,"square":"81.81","windowView":["4"]},{"id":"64","rooms":"2","image":"\/netcat_files\/33\/35\/s1p2e2kv3m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-2\/kvartiry_64.html","fullprice":8181000,"square":"81.81","windowView":["1"]},{"id":"58","rooms":"2","image":"\/netcat_files\/34\/37\/s1p2e1kv3m0.png","floor":"1","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-1\/kvartiry_58.html","fullprice":8181000,"square":"81.81","windowView":["4"]},{"id":"76","rooms":"2","image":"\/netcat_files\/35\/39\/s1p2e4kv3m0.png","floor":"4","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-4\/kvartiry_76.html","fullprice":8181000,"square":"81.81","windowView":["4"]},{"id":"82","rooms":"2","image":"\/netcat_files\/36\/41\/s1p2e5kv3m0.png","floor":"5","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-5\/kvartiry_82.html","fullprice":8181000,"square":"81.81","windowView":["4"]},{"id":"88","rooms":"2","image":"\/netcat_files\/37\/43\/s1p2e6kv3m0.png","floor":"6","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-6\/kvartiry_88.html","fullprice":8181000,"square":"81.81","windowView":["4"]},{"id":"18","rooms":"2","image":"\/netcat_files\/21\/13\/s1p1e2kv3m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-2\/kvartiry_18.html","fullprice":8181000,"square":"81.81","windowView":["4"]},{"id":"24","rooms":"2","image":"\/netcat_files\/24\/19\/s1p1e3kv3m0.png","floor":"3","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-3\/kvartiry_24.html","fullprice":8181000,"square":"81.81","windowView":["4"]},{"id":"30","rooms":"2","image":"\/netcat_files\/28\/25\/s1p1e4kv3m0.png","floor":"4","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-4\/kvartiry_30.html","fullprice":8181000,"square":"81.81","windowView":["4"]},{"id":"36","rooms":"2","image":"\/netcat_files\/29\/27\/s1p1e4kv3m0.png","floor":"5","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-5\/kvartiry_36.html","fullprice":8181000,"square":"81.81","windowView":["4"]},{"id":"42","rooms":"2","image":"\/netcat_files\/30\/29\/s1p1e4kv3m0.png","floor":"6","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-6\/kvartiry_42.html","fullprice":8181000,"square":"81.81","windowView":["4"]},{"id":"104","rooms":"2","image":"\/netcat_files\/40\/49\/s2p1e1kv3m0.png","floor":"1","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-1\/kvartiry_104.html","fullprice":8181000,"square":"81.81","windowView":["4"]},{"id":"111","rooms":"2","image":"\/netcat_files\/41\/51\/s2p1e2kv3m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-2\/kvartiry_111.html","fullprice":8181000,"square":"81.81","windowView":["4"]},{"id":"118","rooms":"2","image":"\/netcat_files\/42\/53\/s2p1e3kv3m0.png","floor":"3","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-3\/kvartiry_118.html","fullprice":8181000,"square":"81.81","windowView":["4"]},{"id":"124","rooms":"2","image":"\/netcat_files\/43\/55\/s2p1e4kv3m0.png","floor":"4","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-4\/kvartiry_124.html","fullprice":8181000,"square":"81.81","windowView":["4"]},{"id":"130","rooms":"2","image":"\/netcat_files\/44\/57\/s2p1e5kv3m0.png","floor":"5","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-5\/kvartiry_130.html","fullprice":8181000,"square":"81.81","windowView":["4"]},{"id":"136","rooms":"2","image":"\/netcat_files\/46\/63\/s2p1e6kv3m0.png","floor":"6","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-6\/kvartiry_136.html","fullprice":8181000,"square":"81.81","windowView":["4"]},{"id":"152","rooms":"2","image":"\/netcat_files\/50\/69\/s2p2e1kv3m0.png","floor":"1","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-1\/kvartiry_152.html","fullprice":8181000,"square":"81.81","windowView":["4"]},{"id":"159","rooms":"2","image":"\/netcat_files\/51\/71\/s2p2e2kv3m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-2\/kvartiry_159.html","fullprice":8181000,"square":"81.81","windowView":["4"]},{"id":"166","rooms":"2","image":"\/netcat_files\/52\/73\/s2p2e3kv3m0.png","floor":"3","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-3\/kvartiry_166.html","fullprice":8181000,"square":"81.81","windowView":["4"]},{"id":"172","rooms":"2","image":"\/netcat_files\/53\/75\/s2p2e4kv3m0.png","floor":"4","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-4\/kvartiry_172.html","fullprice":8181000,"square":"81.81","windowView":["4"]},{"id":"178","rooms":"2","image":"\/netcat_files\/54\/77\/s2p2e5kv3m0.png","floor":"5","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-5\/kvartiry_178.html","fullprice":8181000,"square":"81.81","windowView":["4"]},{"id":"184","rooms":"2","image":"\/netcat_files\/55\/79\/s2p2e6kv3m0.png","floor":"6","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-6\/kvartiry_184.html","fullprice":8181000,"square":"81.81","windowView":["4"]},{"id":"68","rooms":"3","image":"\/netcat_files\/33\/35\/s1p2e2kv7m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-2\/kvartiry_68.html","fullprice":10864000,"square":"108.64","windowView":["4"]},{"id":"62","rooms":"3","image":"\/netcat_files\/34\/37\/s1p2e1kv7m0.png","floor":"1","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-1\/kvartiry_62.html","fullprice":10864000,"square":"108.64","windowView":["4"]},{"id":"22","rooms":"3","image":"\/netcat_files\/21\/13\/s1p1e2kv7m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-2\/kvartiry_22.html","fullprice":10864000,"square":"108.64","windowView":["4"]},{"id":"108","rooms":"3","image":"\/netcat_files\/40\/49\/s2p1e1kv7m0.png","floor":"1","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-1\/kvartiry_108.html","fullprice":10864000,"square":"108.64","windowView":["4"]},{"id":"115","rooms":"3","image":"\/netcat_files\/41\/51\/s2p1e2kv7m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-2\/kvartiry_115.html","fullprice":10864000,"square":"108.64","windowView":["4"]},{"id":"156","rooms":"3","image":"\/netcat_files\/50\/69\/s2p2e1kv7m0.png","floor":"1","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-1\/kvartiry_156.html","fullprice":10864000,"square":"108.64","windowView":["4"]},{"id":"163","rooms":"3","image":"\/netcat_files\/51\/71\/s2p2e2kv7m0.png","floor":"2","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-2\/kvartiry_163.html","fullprice":10864000,"square":"108.64","windowView":["4"]},{"id":"93","rooms":"3","image":"\/netcat_files\/38\/45\/s1p2e7kv2m0.png","floor":"7","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-7\/kvartiry_93.html","fullprice":10956000,"square":"109.56","windowView":["4"]},{"id":"98","rooms":"3","image":"\/netcat_files\/39\/47\/s1p2e8kv2m0.png","floor":"8","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-8\/kvartiry_98.html","fullprice":10956000,"square":"109.56","windowView":["4"]},{"id":"47","rooms":"3","image":"\/netcat_files\/31\/31\/s1p1e7kv2m0.png","floor":"7","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-7\/kvartiry_47.html","fullprice":10956000,"square":"109.56","windowView":["4"]},{"id":"52","rooms":"3","image":"\/netcat_files\/32\/33\/s1p1e8kv2m0.png","floor":"8","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-8\/kvartiry_52.html","fullprice":10956000,"square":"109.56","windowView":["4"]},{"id":"141","rooms":"3","image":"\/netcat_files\/47\/65\/s2p1e7kv2m0.png","floor":"7","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-7\/kvartiry_141.html","fullprice":10956000,"square":"109.56","windowView":["4"]},{"id":"146","rooms":"3","image":"\/netcat_files\/48\/67\/s2p1e8kv2m0.png","floor":"8","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-8\/kvartiry_146.html","fullprice":10956000,"square":"109.56","windowView":["4"]},{"id":"189","rooms":"3","image":"\/netcat_files\/56\/81\/s2p2e7kv2m0.png","floor":"7","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-7\/kvartiry_189.html","fullprice":10956000,"square":"109.56","windowView":["4"]},{"id":"194","rooms":"3","image":"\/netcat_files\/57\/83\/s1p2e8kv2m0.png","floor":"8","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-8\/kvartiry_194.html","fullprice":10956000,"square":"109.56","windowView":["4"]},{"id":"73","rooms":"3","image":"\/netcat_files\/23\/17\/s1p2e3kv6m0.png","floor":"3","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-3\/kvartiry_73.html","fullprice":11310000,"square":"113.1","windowView":["4"]},{"id":"79","rooms":"3","image":"\/netcat_files\/35\/39\/s1p2e4kv6m0.png","floor":"4","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-4\/kvartiry_79.html","fullprice":11310000,"square":"113.1","windowView":["4"]},{"id":"85","rooms":"3","image":"\/netcat_files\/36\/41\/s1p2e5kv6m0.png","floor":"5","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-5\/kvartiry_85.html","fullprice":11310000,"square":"113.1","windowView":["4"]},{"id":"91","rooms":"3","image":"\/netcat_files\/37\/43\/s1p2e6kv6m0.png","floor":"6","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-6\/kvartiry_91.html","fullprice":11310000,"square":"113.1","windowView":["4"]},{"id":"96","rooms":"3","image":"\/netcat_files\/38\/45\/s1p2e7kv5m0.png","floor":"7","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-7\/kvartiry_96.html","fullprice":11310000,"square":"113.1","windowView":["4"]},{"id":"101","rooms":"3","image":"\/netcat_files\/39\/47\/s1p2e8kv5m0.png","floor":"8","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-2\/f-8\/kvartiry_101.html","fullprice":11310000,"square":"113.1","windowView":["4"]},{"id":"27","rooms":"3","image":"\/netcat_files\/24\/19\/s1p1e3kv6m0.png","floor":"3","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-3\/kvartiry_27.html","fullprice":11310000,"square":"113.1","windowView":["4"]},{"id":"33","rooms":"3","image":"\/netcat_files\/28\/25\/s1p1e4kv6m0.png","floor":"4","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-4\/kvartiry_33.html","fullprice":11310000,"square":"113.1","windowView":["4"]},{"id":"39","rooms":"3","image":"\/netcat_files\/29\/27\/s1p1e4kv6m0.png","floor":"5","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-5\/kvartiry_39.html","fullprice":11310000,"square":"113.1","windowView":["4"]},{"id":"45","rooms":"3","image":"\/netcat_files\/30\/29\/s1p1e6kv6m0.png","floor":"6","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-6\/kvartiry_45.html","fullprice":11310000,"square":"113.1","windowView":["4"]},{"id":"50","rooms":"3","image":"\/netcat_files\/31\/31\/s1p1e7kv5m0.png","floor":"7","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-7\/kvartiry_50.html","fullprice":11310000,"square":"113.1","windowView":["4"]},{"id":"55","rooms":"3","image":"\/netcat_files\/32\/33\/s1p1e8kv5m0.png","floor":"8","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-8\/kvartiry_55.html","fullprice":11310000,"square":"113.1","windowView":["4"]},{"id":"121","rooms":"3","image":"\/netcat_files\/42\/53\/s2p1e3kv6m0.png","floor":"3","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-3\/kvartiry_121.html","fullprice":11310000,"square":"113.1","windowView":["4"]},{"id":"127","rooms":"3","image":"\/netcat_files\/43\/55\/s2p1e4kv6m0.png","floor":"4","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-4\/kvartiry_127.html","fullprice":11310000,"square":"113.1","windowView":["4"]},{"id":"133","rooms":"3","image":"\/netcat_files\/44\/57\/s2p1e5kv6m0.png","floor":"5","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-5\/kvartiry_133.html","fullprice":11310000,"square":"113.1","windowView":["4"]},{"id":"139","rooms":"3","image":"\/netcat_files\/46\/63\/s2p1e6kv6m0.png","floor":"6","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-6\/kvartiry_139.html","fullprice":11310000,"square":"113.1","windowView":["4"]},{"id":"144","rooms":"3","image":"\/netcat_files\/47\/65\/s2p1e7kv5m0.png","floor":"7","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-7\/kvartiry_144.html","fullprice":11310000,"square":"113.1","windowView":["4"]},{"id":"149","rooms":"3","image":"\/netcat_files\/48\/67\/s2p1e8kv5m0.png","floor":"8","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-1\/f-8\/kvartiry_149.html","fullprice":11310000,"square":"113.1","windowView":["4"]},{"id":"169","rooms":"3","image":"\/netcat_files\/52\/73\/s2p2e3kv6m0.png","floor":"3","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-3\/kvartiry_169.html","fullprice":11310000,"square":"113.1","windowView":["4"]},{"id":"175","rooms":"3","image":"\/netcat_files\/53\/75\/s2p2e4kv6m0.png","floor":"4","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-4\/kvartiry_175.html","fullprice":11310000,"square":"113.1","windowView":["4"]},{"id":"181","rooms":"3","image":"\/netcat_files\/54\/77\/s2p2e5kv6m0.png","floor":"5","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-5\/kvartiry_181.html","fullprice":11310000,"square":"113.1","windowView":["4"]},{"id":"187","rooms":"3","image":"\/netcat_files\/55\/79\/s2p2e6kv6m0.png","floor":"6","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-6\/kvartiry_187.html","fullprice":11310000,"square":"113.1","windowView":["4"]},{"id":"192","rooms":"3","image":"\/netcat_files\/56\/81\/s2p2e7kv5m0.png","floor":"7","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-7\/kvartiry_192.html","fullprice":11310000,"square":"113.1","windowView":["4"]},{"id":"197","rooms":"3","image":"\/netcat_files\/57\/83\/s2p2e8kv5m0.png","floor":"8","url":"http:\/\/estetica.internetlab.ru\/kvartiry\/vybrat-na-plane\/dom-2-sektsiya-2\/f-8\/kvartiry_197.html","fullprice":11310000,"square":"113.1","windowView":["4"]}]'></div>
                <div class="filter-showmore">Показать ещё</div>
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>