<% var data={ title: "ЖК Эстетика" }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div id="garages_landing"></div>

<div class="section no-padding-vertical no-margin-bottom black-theme" id="garages">
    <div class="rc-sections garages" id="rc_garages">
        <div class="absolute-wrapper">
            <div class="container">
                <div class="upper-block-garages">
                    <div class="breadcrumbs garages">
                        <a class="breadcrumb link" href="/">Главная</a>
                        <div class="divide">/</div>
                        <div class="breadcrumb white-theme">Паркинг</div>
                    </div>
                    <div class="garages-head-wrapper">
                        <h2 class="color-white garage-header">ПАРКИНГ</h2>
                        <div class="buttons-wrapper">
                            <a href="#1" class="garage-button left active">1 дом</a>
                            <a href="#2" class="garage-button right">2 дом</a>
                        </div>
                    </div>
                </div>
                    <div id="rc_garage" class="floor-wrapper">
                        <div class="floor-block garages">
                            <div class="drawing-block garages" data-drawing_block>
                                <div id="rc_sections_drawing" class="drawing garages move-style" data-width="3500" data-height="2101" data-drawing=""
                                     data-image="./img/garages/garage-section-2.png" data-garage-section="2"  data-items='[
                                {
                                    "id": "1",
                                    "area": "81.04",
                                    "garageNumber":"1",
                                    "price": "3250000",
                                    "sold": "1",
                                    "coords": "239.959137,544.5969238 80.7593842,544.5969238 82.2361908,304.7635193 238.6300049,304.7635193 "
                                },
                                {
                                    "id": "2",
                                    "area": "13.04",
                                    "garageNumber":"2",
                                    "price": "100000",
                                    "sold": "0",
                                    "coords": "398.8635254,544.5969238 251.7735901,544.5969238 253.2503967,304.7635193 400.340332,304.7635193 "
                                },
                                {
                                    "id": "3",
                                    "area": "24.04",
                                    "garageNumber":"3",
                                    "price": "123000",
                                    "sold": "0",
                                    "coords": "556.7341309,478.7313232 414.8447571,478.7313232 416.0077515,236.3135223 557.8971558,236.3135223 "
                                },
                                {
                                    "id": "4",
                                    "area": "17",
                                    "garageNumber":"4",
                                    "price": "145000",
                                    "sold": "0",
                                    "coords": "723.7125244,478.7313232 577.4411621,478.7313232 578.604126,236.3135223 724.8754883,236.3135223 "
                                },
                                {
                                    "id": "5",
                                    "area": "25.01",
                                    "garageNumber":"5",
                                    "price": "4250000",
                                    "sold": "0",
                                    "coords": "883.2076416,478.7313232 736.9362793,478.7313232 738.0992432,236.3135223 884.3706055,236.3135223 "
                                },
                                {
                                    "id": "6",
                                    "area": "25.01",
                                    "garageNumber":"5",
                                    "price": "4250000",
                                    "sold": "1",
                                    "coords": "1403.9844971,1041.9853516 1281.9938965,1041.9853516 1283.7659912,717.2130737   1405.7565918,717.2130737 "
                                },
                                {
                                    "id": "7",
                                    "area": "25.01",
                                    "garageNumber":"5",
                                    "price": "4250000",
                                    "sold": "1",
                                    "coords": "1588.9510498,1041.9853516 1412.6912842,1041.9853516 1414.4633789,717.2130737   1590.7231445,717.2130737  "
                                }
                         ]'></div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="move-button-wrapper">
    <div class="move-button hide-desktop" data-move_button>
        <div class="inner">
            <img alt="" src="./img/floor-select/swipe.svg">
            <span>Передвигайте изображение для выбора этажа</span>
        </div>
    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>