<% var data={ title: "ЖК Эстетика" }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="section no-padding-vertical no-margin-bottom" id="floors">
    <div class="rc-sections" id="rc_floors">
        <div class="absolute-wrapper">
            <div class="container">
                <div class="breadcrumbs">
                    <a class="breadcrumb link" href="/">Главная</a>
                    <div class="divide">/</div>
                    <div class="breadcrumb white-theme">Выбор квартиры</div>
                </div>
                <h2 class="color-white">ВЫБЕРИТЕ ЭТАЖ</h2>
            </div>
        </div>

        <div class="rooms-filter" data-room-filter>
            <div class="filter-inner">
                <div class="filter-items">
                    <div class="filter-item active" data-room="1">
                        <div class="room hide-mobile">1К</div>
                        <div class="mobile-row">
                            <div class="room hide-desktop">1К</div>
                            <div class="switcher hide-desktop">
                                <label class="switcher-gray">
                                    <input type="checkbox" data-toggle-view="">
                                    <div class="bg-slide-item"></div>
                                </label>
                            </div>
                        </div>
                        <div class="cost">от 3,4 млн.</div>
                        <div class="switcher hide-mobile">
                            <label class="switcher-gray">
                                <input type="checkbox" data-toggle-view="">
                                <div class="bg-slide-item"></div>
                            </label>
                        </div>
                    </div>
                    <div class="filter-item active" data-room="2">
                        <div class="room hide-mobile">2К</div>
                        <div class="mobile-row">
                            <div class="room hide-desktop">2К</div>
                            <div class="switcher hide-desktop">
                                <label class="switcher-gray">
                                    <input type="checkbox" data-toggle-view="">
                                    <div class="bg-slide-item"></div>
                                </label>
                            </div>
                        </div>
                        <div  class="cost">от 4,6 млн.</div>
                        <div class="switcher hide-mobile">
                            <label class="switcher-gray">
                                <input type="checkbox" data-toggle-view="">
                                <div class="bg-slide-item"></div>
                            </label>
                        </div>
                    </div>
                    <div class="filter-item active" data-room="3">
                        <div class="room hide-mobile">3К</div>
                        <div class="mobile-row">
                            <div class="room hide-desktop">3К</div>
                            <div class="switcher hide-desktop">
                                <label class="switcher-gray">
                                    <input type="checkbox" data-toggle-view="">
                                    <div class="bg-slide-item"></div>
                                </label>
                            </div>
                        </div>
                        <div  class="cost">от 6,0 млн.</div>
                        <div class="switcher hide-mobile">
                            <label class="switcher-gray">
                                <input type="checkbox" data-toggle-view="">
                                <div class="bg-slide-item"></div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="drawing-block" data-drawing_block>
            <div class="drawing move-style" id="big-picture" data-drawing="" data-image="./img/floor-select/floor-select.jpg" data-balloon="./img/floor-select/deadline.svg"
                 data-items='[
                 {"id":"1","name":"1","nameType":"\u042d\u0442\u0430\u0436","sectionName":"2.1","sold":1,"coords":"719.8,545.3 212.1,545.6 212.1,502.6 719.8,502.9","href":"#","rooms":["3"],"apartments":[{"rooms":"3","price":"10,13","area":"98.3"}]},
                 {"id":"2","name":"2","nameType":"\u042d\u0442\u0430\u0436","sectionName":"2.1","sold":0,"coords":"719.8,587.8 212.1,587.7 212.1,545.6 719.8,545.3","href":"#","rooms":["3"],"apartments":[{"rooms":"3","price":"10,64","area":"98.1"}]},
                 {"id":"3","name":"3","nameType":"\u042d\u0442\u0430\u0436","sectionName":"2.1","sold":0,"coords":"719.8,630.2 212,631.8 212.1,587.7 719.8,587.8","href":"#","rooms":["2","3"],"apartments":[{"rooms":"2","price":"5,64","area":"58.2"},{"rooms":"3","price":"10,64","area":"98.5"}]},
                 {"id":"4","name":"5","nameType":"\u042d\u0442\u0430\u0436","sectionName":"2.1","sold":0,"coords":"719.8,800.1 212.1,800.1 212.1,757.3 719.8,757.6 ","href":"#","rooms":["1"],"apartments":[{"rooms":"1","price":"3,64","area":"38.4"}]},
                 {"id":"7","name":"6","nameType":"\u042d\u0442\u0430\u0436","sectionName":"1","sold":0,"coords":"719.8,673.6 212.1,673.5 212,631.8 719.8,631.2","href":"\/kvartiry\/vybrat-na-plane\/dom-1-sektsiya-1\/f-5\/","rooms":["1","2","3"],"apartments":[{"rooms":"1","price":"4,77","area":"47.7"},{"rooms":"2","price":"8,18","area":"81.81"},{"rooms":"3","price":"10,86","area":"108.64"}]}
                 ]'></div>
        </div>
        <div class="move-button hide-desktop" data-move_button>
            <div class="inner">
                <img alt="" src="./img/floor-select/swipe.svg">
                <span>Передвигайте изображение для выбора этажа</span>
            </div>
        </div>
    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>