<% var data={ title: "ЖК Эстетика" }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div id="room_select"></div>
<div class="flex-section">
    <div class="section no-padding-vertical black-theme">
        <div class="container">
            <div class="breadcrumbs">
                <a class="breadcrumb white-theme link" href="#">Главная</a>
                <div class="divide">/</div>
                <a class="breadcrumb white-theme link" href="#">Выбор квартиры</a>
                <div class="divide">/</div>
                <div class="breadcrumb white-theme">3 этаж, секция 2.1 </div>
            </div>
            <h2 class="breadcrumb-head room-select white-theme">Выберите квартиру</h2>
        </div>
    </div>

    <div class="section padding-top-x2 no-padding-top-mobile no-padding-bottom no-margin-bottom overflow-visible black-theme" id="floor">
        <div class="container ">
            <div id="rc_floor" class="floor-wrapper">
                <div class="location-block hide-mobile">
                    <div class="nav-block">
                        <a href="#" class="arrow"></a>
                        <span class="text">подъезд 2</span>
                        <a href="#" class="arrow reverse"></a>
                    </div>
                    <div class="location-map-sections">
                        <div id="map_drawing" class="map-drawing" data-image="./img/room-select/house.png" data-items='[
                        {
                            "id" : 1,
                            "floor": 1,
                            "href": "#location1",
                            "coords": "297 278.43 0 278.93 0 314.93 297 314.43 297 278.43",
                            "current": "0"
                        },
                        {
                            "id" : 2,
                            "floor": 6,
                            "href": "#location2",
                            "coords": "297 88.64 0 89.13 0 120.76 297 120.27 297 88.64",
                            "current": "1"
                        }
                        ]'>

                        </div>
                        <div class="current-location"></div>
                    </div>

                </div>
                <div class="floor-block">
                    <div class="drawing-block" data-drawing_block>
                        <div id="rc_sections_drawing" class="drawing" data-width="3500" data-height="2415" data-drawing=""
                             data-image="./img/room-select/room-select.png"  data-items='[
                                {
                                    "id": "1",
                                    "name": "2",
                                    "area": "81.04",
                                    "cellNumber":"163",
                                    "rooms":"2",
                                    "price": "3250000",
                                    "sold": "1",
                                    "coords": "537.25 321.34 189.37 321.34 189.37 1874.87 570.23 1874.87 570.23 1123.19 916.55 1123.19 916.55 922.5 907.21 922.5 907.21 301.74 537.56 301.74 537.25 321.34",
                                    "href": "#url1",
                                    "long" : "1"
                                },{
                                    "id": "2",
                                    "name": "2",
                                    "area": "90.04",
                                    "cellNumber":"164",
                                    "rooms":"3",
                                    "price": "4250000",
                                    "sold": "1",
                                    "coords": "1882.22 948.63 1882.22 192.52 1882.22 171.05 2631.33 171.05 2631.33 191.59 2873.1 191.59 2873.1 171.05 2914.17 171.05 2914.17 948.63 1882.22 948.63",
                                    "href": "#url2",
                                    "long" : "0"
                                },
                                {
                                    "id": "3",
                                    "name": "2",
                                    "area": "90.04",
                                    "cellNumber":"164",
                                    "rooms":"3",
                                    "price": "4250000",
                                    "sold": "1",
                                    "coords": "1214.33 1874.87 1214.33 1096.35 1871.49 1096.35 1871.49 1855.96 1587.71 1855.96 1587.71 1874.87 1214.33 1874.87",
                                    "href": "#url2",
                                    "long" : "0"
                                },
                                {
                                    "id": "4",
                                    "name": "2",
                                    "area": "90.04",
                                    "cellNumber":"164",
                                    "rooms":"3",
                                    "price": "4250000",
                                    "sold": "1",
                                    "coords": "2914.17 322.27 3307.17 322.27 3307.17 1874.87 2620.13 1874.87 2620.13 1854.1 2320.49 1854.1 2320.49 1098.57 2419.3 1098.57 2419.3 948.63 2914.17 948.63 2914.17 322.27",
                                    "href": "#url2",
                                    "long" : "-1"
                                },
                                {
                                    "id": "5",
                                    "name": "2",
                                    "area": "90.04",
                                    "cellNumber":"164",
                                    "rooms":"3",
                                    "price": "4250000",
                                    "sold": "0",
                                    "coords": "570.23 1874.87 570.23 1123.19 916.55 1123.19 916.55 1096.35 1214.33 1096.35 1214.33 1874.87 860.23 1874.87 860.23 1854.72 612.7 1854.72 612.7 1874.87 570.23 1874.87",
                                    "href": "#url2",
                                    "long" : "0"
                                },
                                {
                                    "id": "6",
                                    "name": "2",
                                    "area": "90.04",
                                    "cellNumber":"164",
                                    "rooms":"3",
                                    "price": "4250000",
                                    "sold": "0",
                                    "coords": "1882.22 948.63 916.55 948.63 916.55 922.5 907.21 922.5 907.21 301.74 862.41 301.74 862.41 192.52 1191.92 192.52 1191.92 171.05 1882.22 171.05 1882.22 948.63",
                                    "href": "#url2",
                                    "long" : "0"
                                }
                         ]'></div>
                    </div>
                </div>
                <div class="info-container room-select">
                    <div class="compass-block hide-mobile"></div>
                    <div class="status-block">
                        <div class="in-sale">В ПРОДАЖЕ</div>
                        <div class="sales">ПРОДАНА</div>
                    </div>
                  <div class="floor-status-block hide-desktop">
                      <span class="title">ЭТАЖ</span>
                      <div class="floor-status-mobile ">
                          <a class="floor disabled" data-floor="1">1</a>
                          <a class="floor disabled" data-floor="2">2</a>
                          <a class="floor disabled" data-floor="3">3</a>
                          <a class="floor disabled" data-floor="4">4</a>
                          <a class="floor disabled" data-floor="5">5</a>
                          <a class="floor disabled" data-floor="6">6</a>
                          <a class="floor disabled" data-floor="7">7</a>
                          <a class="floor disabled" data-floor="8">8</a>
                          <a class="floor disabled" data-floor="9">9</a>
                      </div>
                      <span class="entrance-title">подъезд</span>
                      <div class="entrance-block" data-current-entrance="2">
                          <div class="first-section">
                            <a href="#1" class="first-entrance" data-section="1"></a>
                            <a href="#2" class="second-entrance" data-section="2"></a>
                          </div>
                          <div class="second-section">
                              <a href="#3" class="first-entrance" data-section="3"></a>
                              <a href="#4" class="second-entrance" data-section="4"></a>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="compass-block mobile hide-desktop"></div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>