.floor-wrapper.apartment{

  @include desktop-m{
    .info-container{
      width: 16%;
    }
  }

  @include mobile{
    .floor-block{
      order: 1;

      .apartment-image{
        padding: 0;
        height: auto;
      }
    }

    .location-block{
      order: 2;
    }

    .info-container{
      order: 3;
    }

    .drawing-block.apartment{
      overflow-x:hidden;
    }
  }

  .location-block{
    align-self: start;
    flex: 0 0 33%;
    max-width: 33%;

    @include mobile{
      max-width: 100%;
      width: 100%;
      margin-bottom: 20px;
    }

    .info{
      display: flex;
      flex-direction: column;

      .text{
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;

        .description{
          color: #A3A3A3;
          font-family: $fontAccent;
          font-size: 16px;

          @include desktop-m{
            font-size: 13px;
          }
        }

        .dash{
          margin:0 8px;
          flex-grow: 1;
          border-bottom: 1px dashed #545454;
        }

        .value{
          color: white;
          font-family: $fontAccent;
          font-size: 16px;
          min-width: 54%;

          @include desktop-m{
            font-size: 13px;
          }

          @include mobile{
            min-width: 47%;
          }
        }
      }
    }

    .big-price{
      font-family: $fontAccent;
      font-size: 38px;
      line-height: 45px;
      color: #FFFFFF;
      font-weight: 700;
      margin-top: 50px;
      margin-bottom: 50px;

      @include mobile{
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    .btn-wrapper{
      display: flex;
      flex-direction: column;
      width: 50%;
      min-width: 285px;

      @include mobile{
        width: 100%;
      }

      .upper-buttons{
        display: flex;
        margin-bottom: 15px;
        justify-content: space-between;

        .consult{
          font-family: $fontAccent;
          font-size: 16px;
          line-height: 19px;
          color: #FFFFFF;
          padding: 10px;
          background-color: #E56543;
          text-align: center;
          font-weight: 700;
          cursor:pointer;
          transition: background .2s linear;

          @include desktop{
            &:hover{
              background-color: #fb7e5c;
            }
          }

          @include mobile{
            width: -webkit-fill-available;
            margin-right: 15px;
            line-height: 27px;
          }
        }

        .pdf{
          font-family: $fontAccent;
          font-size: 16px;
          line-height: 19px;
          color: #FFFFFF;
          padding: 10px;
          background: #3F3F3F;
          text-align: center;
          font-weight: 700;
          cursor:pointer;
          transition: background .2s linear;
          text-decoration: none;

          @include desktop{
            &:hover{
              background: #6d6d6d;
            }
          }

          @include mobile{
            padding: 15px 10px;
          }
        }
      }

      .garages{
        font-family: $fontAccent;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        padding: 10px;
        background: #000000;
        border: 1px solid #E56543;
        text-align: center;
        font-weight: 700;
        cursor:pointer;
        text-decoration: none;
        transition: background .2s linear;

        @include desktop{
          &:hover{
            background: #202020;
          }
        }
      }
    }
  }


  .floor-block.apartment{
    max-width: 51%;

    @include mobile{
      max-width: 100%;
    }
    &:before{
      width: 60%;
      background: #323b43;
      border-radius: 46%;
      content: "";
      display: block;
      filter: blur(55px);
      height: 60%;
      left: 50%;
      position: absolute;
      top: 43%;
      transform: translateY(-50%) translateX(-50%);

      @include mobile{
        height: 62%;
        top: 61%;
        width: 75%;
      }
    }

    .image-switcher-block{
      display: flex;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      @include desktop{
        z-index: 4;
        bottom: 3%;
      }

      @include mobile{
        bottom: auto;
        position: relative;
        width: 26%;
        transform:none;
        left: auto;
        margin: 50px auto 20px auto;
      }

      .image-switcher{
        display: block;
        width: 13px;
        height: 13px;
        border: 1px solid #E56543;
        border-radius: 50%;
        cursor: pointer;

        &.active{
          background: #E56543;
        }
      }
    }
  }


}

.status-block.apartment{
  display: flex;
  flex-direction: column;
  margin-top: 30%;

  @include mobile{
    margin-top: 40px;
    flex-direction: row;
    justify-content: space-between;
  }

  .floor-plan,.complex-plan{
    display: flex;
    flex-direction: column;

    @include mobile{
      width: 45%;

      & img{
        width: 100%;
      }
    }

    .text{
      font-family: $fontAccent;
      text-align: center;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 14px;
      color: #FFFFFF;
      margin-bottom: 10px;
    }
  }

  .floor-plan{
    margin-bottom: 50px;
  }
}

.info-container{
  display: flex;
  align-self: start;
  flex: 0 0 13%;
  max-width: 13%;

  @include mobile{
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }

  .status-block.apartment{
    .drawing-block{
      height: 100%;
      width: 100%;
    }
  }
}

.compass-block.apartment{
  right: 50%;
  top:-31%;
  transform: translateX(50%);
}

.apartment-image{
  height: 34rem;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0 20% 13% 20%;

  @include desktop-m{
    padding: 0 0 20%;
  }

  &.active{
    display: block;
  }
}

@include tablet{
  .compass-block.hide-desktop:not(.mobile) {
    display: block;
    height: 150px;
    width: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/compass.svg');
    position: absolute;
    right: 12%;
    top: 15%;
  }
}

@include only-mobile{
  .compass-block.hide-desktop:not(.mobile){
    display: block;
    height: 150px;
    width: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/compass.svg');
    position: absolute;
    right: 17%;
    top: 28%;
  }
}

.swiper-slide{
  width: 80%;
}

.swiper-button-prev,
.swiper-button-next{
  &:after{
    display: none;
  }
  background-color: transparent;

}

.swiper-button-disabled{
  background-color: #e56543 !important;
  opacity: 1 !important;
}







