// Типографика форм
.form-steps-wrapper {
  .form-step {
    display: none;

    &.active {
      display: block;
    }
  }
}

@-webkit-keyframes autofill {
  to {
    background: #ffffff;
  }
}


input, textarea {
  font-family: $fontBase;
}

.field {
  position: relative;
  display: block;
  margin: 16px 0;
  margin-bottom: 20px;
  padding: 1px 0 0 0;
  cursor: pointer;
  .label {
    display: inline-block;
    width: 100%;
    position: absolute;
    z-index: 20;
    margin-top: 0;
    font-weight: 500;
    font-size: 12px;
    color: $colorText;
    left: 15px;
    top: 7px;
    line-height: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  &.empty {
    .label {
      top: 14px;
      left: 0;
      font-size: 18px;
      line-height: 26px;
      color: white;
      font-weight: 400;
      font-family: $fontAccent;
    }
    .input-text {
      &::-webkit-input-placeholder {
        opacity: 0;
      }
      &:-ms-input-placeholder {
        opacity: 0;
      }
      &::-moz-placeholder {
        opacity: 0;
      }
      &:-moz-placeholder {
        opacity: 0;
      }
    }
  }
  .input-text, .input-fill-control {
    display: flex;
    width: 100%;
    font-family:$fontAccent;
    height: 52px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: white;
    padding: 5px 15px 4px;
    padding-left: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #5E5E5E;
    background: transparent;
    box-sizing: border-box;
    &:-webkit-autofill {
      -webkit-animation-name: autofill;
      -webkit-animation-fill-mode: both;
    }
  }
  textarea.input-text {
    height: 96px;
    resize: none;
  }
  .error-message {
    display: none;
    margin: 5px 0 0 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: red;
    font-family: $fontAccent;
  }
  &.error {
    input {
      color: white;
      border-color: red;
      font-family: $fontAccent;
    }
    .error-message {
      display: block;
    }
  }
}
.form-bottom {
  display: flex;
  .button {
    max-width: 135px;
    margin-right: 55px;
    cursor: pointer;
    margin-left: 0;

  }
  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 26px;
    color: $colorText;
    margin-top: 0;
  }
  @include mobile {
    flex-wrap: wrap;
    p {
      margin-bottom: 15px;
    }
  }
}

form {
  position: relative;
}
.feedback-form {
  position: relative;
  .field {
    z-index: 999;
  }
  * {
    position: relative;
    transition: .3s linear;
    transform: translateY(0);
    opacity: 1;
  }
  .form-message {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #121212;
    opacity: 0;
    transition-delay: 1s;
    * {
      transform: translateY(100%);
      opacity: 0;
      transition: .6s linear;
    }
    .message-icon {
      display: flex;
      width: 32px;
      height: 32px;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin: 0 auto;
      transition-delay: 0.7s;
      i {
        font-size: 12px;
      }
      &.success {
        border: 2px solid green;
        i {
          color: green;
        }
      }
      &.error {
        border: 2px solid $colorMain;
        i {
          color: $colorMain;
        }
      }
    }
    .message-title {
      font-weight: 500;
      font-family: $fontBase;
      font-size: 34px;
      line-height: 26px;
      text-align: center;
      color: white;
      transition-delay: 0.8s;
      margin-top: 10px;
      margin-bottom: 0;
      text-transform: uppercase;
    }
    .message-subtitle {
      font-family: $fontAccent;
      font-weight: 500;
      font-size: 14px;
      line-height: 26px;
      text-align: center;
      color: #E56543;
      transition-delay: 0.9s;
      margin-top: 12px;
      margin-bottom: 29px;
      text-transform: uppercase;
    }
  }
  &.form-hide {
    .field, .form-bottom, .h5, .modal-caption-with-close, .button {
      transform: translateY(-100%);
      opacity: 0;
      pointer-events: none;
    }

    .message-button{
      pointer-events: auto;
    }
    .form-message {
      height: 100%;
      transform: translateY(0);
      opacity: 1;
      z-index: 9;
      * {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  .personal{
    font-family: $fontAccent;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 172.5%;
    color: #636363;
    margin-top: 13px;
  }
}


form {
  .button {
    cursor: pointer;
    margin-top: 50px;
    border: 1px solid #E56543;
    background: #121212;
    font-family: $fontAccent;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 0;

    @include mobile{
      margin-top: 24px;
    }
  }
}