.filter-block{
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: $fontAccent;
  padding: 21px 0;

  @include mobile{
    border-bottom: 1px solid #353535;
    flex-direction: column;
    padding-bottom: 10px;
  }

  .filter-item-title{
    font-size: 12px;
    line-height: 16px;
    color: #7A7A7A;
    margin-bottom: 7px;
  }

  .rooms{
    display: block;
    width: 12%;

    @include desktop-medium{
      width: 17%;
      justify-content: start;
    }

    @include mobile{
      width: 100%;
    }

    .rooms-block{
      display: flex;
      justify-content: space-between;

      @include desktop-medium{
        justify-content: start;
      }

      @include mobile{
        justify-content: start;
        margin-bottom: 20px;
      }

      .room-block-filter{
        display: flex;
        align-items: center;
        text-transform: uppercase;
        justify-content: center;
        width: 51px;
        height: 51px;
        background: #262626;
        border-radius: 3px;
        cursor: pointer;
        font-size: 20px;

        @include desktop-medium{
          &:not(:last-child){
            margin-right: 10px;
          }
        }

        @include mobile{
         &:not(&:last-child){
           margin-right:24px;
         }
        }

        &.active{
          background: #E56543;
        }
      }
    }
  }

  .cost,.square,
  .floor,.window-view,
  .button-block{
   /* width: 15%;*/
    width: 20%;

    @include mobile{
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .window-view{
    .jq-selectbox__trigger-arrow{
      &:before{
        content: '';
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 24px;
        height: 24px;
        background-image: url('../img/filter/select-arrow.svg');
        transform: rotate(-180deg);
      }
    }

    .jq-selectbox.dropdown.opened{
      .jq-selectbox__trigger-arrow {
        &:before {
          transform: rotate(0);
        }
      }
    }
  }

  .button-block{
    width: 16.6667%;
    align-self: center;
    padding:14px 0;
    background: #E56543;
    border-radius: 3px;
    text-align: center;
    margin-top: 21px;
    height: 50px;
    cursor: pointer;
    pointer-events: auto;
    user-select: none;
    font-size: 20px;

    @include mobile{
      width: 100%;
      margin-top: 0;
    }

    &.no-rooms{
      pointer-events: none;
      background: #A3A3A3;
    }
  }

}

//сортировка
.sort{
  display: flex;
  margin-bottom: 5px;

  .text{
    font-family: $fontAccent;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    align-self: center;
    user-select: none;
  }
}

//стили квартиры на фильтре

.filter-results{
  display: flex;
  flex-direction: column;

  .flat-item{
    text-decoration: none !important;
    width: 100%;

    .flat-info{
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: relative;
      height: 82px;
      background: #262626;
      border-radius: 8px;
      padding-left:22px;
      margin-bottom: 8px;

      @include desktop{
        &:hover{
          background: #323232;
        }
      }

      @include mobile{
        display: none;
      }

      .rooms,.square,
      .floor, .image{
        display: flex;
        align-items: center;
        color: white;
        font-family: $fontAccent;
        font-size:22px;
      }

      .image{
        display: block;
        width: 3%;
        height: 83%;
        align-self: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @include desktop{
          min-width: 50px;
        }
      }

      .price{
        display: flex;
        align-items: center;
        color: #E56543;
        font-family: $fontAccent;
        font-size:22px;
        font-weight: 700;
        width: 21%;
      }
    }

    .flat-info-mob{
      display: none;


      @include mobile{
        display: flex;
        width: 100%;
        position: relative;
        background: #262626;
        border-radius: 8px;
        margin-bottom: 20px;
        padding:11px 0 11px 24px;

        .image{
          display: block;
          align-self: center;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          width: 24%;
          margin-right: 30px;
        }

        .text{
          display: flex;
          flex-direction: column;
          align-self: center;

          .mob-row{
            display: flex;
            margin-top: 8px;
            margin-bottom: 11px;
          }
        }

        .rooms,.square,
        .floor, .image{
          display: flex;
          align-items: center;
          color: white;
          font-family: $fontAccent;
          font-size:22px;
        }

        .rooms{
          font-size: 22px;
          line-height: 26px;
        }

        .square,
        .floor{
          font-size: 16px;
          line-height: 19px;
          color: #C5C5C5;
        }

        .square{
          margin-right: 14px;
        }

        .price{
          display: flex;
          align-items: center;
          color: #E56543;
          font-family: $fontAccent;
          font-size:22px;
          font-weight: 700;
        }
      }
    }
  }
}

.filter-showmore{
  font-family: $fontAccent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:14px 0;
  background: #E56543;
  border-radius: 3px;
  text-align: center;
  margin-top: 21px;
  height: 50px;
  cursor: pointer;
  pointer-events: auto;
  user-select: none;
  font-size: 20px;
  color: white;
  margin-bottom: 20px;

  @include mobile{
    margin-top: 0;
  }
}
