path {
  transition: fill .7s;
  visibility: hidden;

  @include mobile {
    display: none;
  }
}

.rc-sections {
  display: block;
  position: relative;
  z-index: 5;
  margin: 0;
  height: calc(100vh - 80px);
  @include mobile {
    height: calc(100vh - 80px);
    @supports (height: var(--)) {
      height: var(--viewport-height);
    }
  }

  background: $colorWhite;

  .apartments-content {
    display: block;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 35px;
    pointer-events: none;
    .text {
      display: block;
      margin: 0 10px 0 0;
      font-size: 18px;
      line-height: 26px;
      font-weight: 500;
      color: $colorWhite;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);

      &.caption {
        font-size: 38px;
        line-height: 45px;
        font-weight: 700;
        text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
        @include mobile {
          font-size: 30px;
          line-height: 35px;
        }
      }
    }
  }

  @media screen and (min-width: 960px) and (orientation: portrait) {
    .breadcrumb.link {
      font-size: 24px;
    }
    .breadcrumb {
      font-size: 24px;
    }

    h2{
      font-size: 5.1rem;
    }
  }

  .drawing-block {
    position: relative;
    z-index: 3;
    margin: 0;
    overflow: hidden;
    height: 100%;

    @media screen and (min-width: 960px) and (orientation: portrait) {
      overflow-x: scroll;
    }

    @include mobile {
      height: calc(100vh - 64px);
      @supports (height: var(--)) {
        height: var(--viewport-height);
      }
      overflow-x: auto;
      overflow-y: hidden;
    }


  }

  .drawing {
    display: block;
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    margin: 0;

    &.move-style {
      @include mobile {
        &:after {
          content: "";
          display: block;
          position: fixed;
          left: 0;
          top: 0;
          bottom: 0;
          z-index: 4;
          right: 0;
          background: rgba(0, 0, 0, 0.65);
        }

      }
    }

    @include mobile {
      position: relative;
      top: 0 !important;
      left: 0 !important;
      margin: 0 !important;


      &:not(.garages){
        background: #121212;
        height: calc(100vh - 80px)!important;
      }
    }

    .item {
      display: block;
      position: absolute;
      z-index: 3;
      left: 100%;
      top: 100%;
      cursor: pointer;

      &.notinclude {
        .content {
          background-color: $colorWhite;

          .text {
            color: $colorText;
          }

          &:before {
            background-color: $colorWhite;
          }
        }
      }

      &.sold {
        .content {


          &:before {

          }
        }
      }

      &.rooms-baloon {
        cursor: default;
      }

      &:after {
        content: "";
        display: none;
        position: relative;
        z-index: 3;
        top: -3px;
        margin: 0 auto;
        background: url("../img/balloon-bottom.svg") center top no-repeat;
        background-size: contain;
        width: 13px;
        height: 12px;
      }


      .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        z-index: 3;
        width: auto;
        //height: 21px;
        padding: 1px 10px 4px 10px;
        font-size: 14px;
        line-height: 17px;
        color: $colorWhite;
        background: $colorMain;
        text-align: center;

        &:before {
          background-color: $colorMain;
          bottom: -2px;
          content: "";
          display: block;
          height: 15px;
          left: 50%;
          margin-left: -7.5px;
          position: absolute;
          width: 15px;
          z-index: -1;
          transform: rotate(45deg);
        }
      }

      .text {
        display: block;
        margin: 0;
        width: 100%;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: $colorWhite;
        white-space: normal;
        word-break: normal;
      }

      .sold-text {
        font-size: 10px;
        line-height: 12px;
        font-weight: 400;
      }
    }

    polygon {
      cursor: pointer;
      position: relative;
    }
  }

  @keyframes move-button {
    from {
      transform: translateX(-50%);
    }
    33% {
      transform: translateX(-48%);
    }
    66% {
      transform: translateX(-52%);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .bottom-info {
    display: block;
    position: absolute;
    right: 160px;
    left: 0;
    z-index: 4;
    background-image: url('../img/complex/bottom_block.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 38px;
    bottom: 20px;
    background-position: right center;

    @include desktop-small {
      right: 50px;
      left: 50px;
    }

    @include mobile {
      width: 1434px;
      right: 0;
      left: 0;
      transform: translateX(-160px);
    }
  }


  .move-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 50%;
    margin: 0;
    height: 140px;
    width: 244px;
    margin-top: -70px;
    pointer-events: none;


    .inner {
      display: flex;
      flex-direction: column;
      font-size: 18px;
      text-align: center;
      align-items: center;
      color: $colorWhite;

      img {
        width: 50px;
        height: 50px;
        margin-bottom: 15px;
      }


      animation-name: move-button;
      animation-timing-function: linear;
      animation-duration: 1.5s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
    }

    .icon {
      margin-right: 9px;
      font-size: 9px;
    }
  }

  .rooms-filter {
    display: block;
    position: absolute;
    text-align: center;
    z-index: 19;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);

    @include mobile{
      bottom: 8%;
      left: 0;
      transform: translateX(0);
    }

    .filter-inner {
      text-align: center;
      border-radius: 1rem;

    }
    .filterHead{
      font-size: 0.53rem;
      padding-top: 5px;

    }

    .filter-items {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      position: relative;
      width: fit-content;

      @include mobile{
        width: auto;
        padding: 0px 15px;
      }

      .filter-item {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        cursor: pointer;
        user-select: none;
        background: rgba(18, 18, 18, 0.6);
        padding:7px 11px;
        position: relative;

        &:not(:last-child){
          margin-right: 10px;
        }

        &.active {
          .switcher{
            .switcher-gray{
                border: 2px solid #4cd964;
                background-color: #4cd964;

                & .bg-slide-item{
                  transform: translateX(13px);
                }

            }
          }
        }

        @include mobile{
          flex-direction: column;
          width: 33%;
          align-items: flex-start;
          z-index: -1;

          &:after{
            background: rgba(0,0,0,.65);
            border-radius: 4px;
            content: "";
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
          }

          &.online{
            z-index: 1;
            &:after{
              background: rgba(0,0,0,0);
            }
          }

          .mobile-row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
          }
        }

        .room{
          font-family: 'Rubik',sans-serif;
          color:$colorOrange;
          font-size:14px;
          line-height: 24px;
          margin-right:9px;

          @include mobile{
            font-size: 18px;
          }
        }

        .cost{
          font-family: 'Rubik',sans-serif;
          color:$colorWhite;
          font-size:14px;
          line-height: 24px;
          margin-right:15px;
          white-space: nowrap;

          @include mobile{
            margin-right: 0;
            white-space: nowrap;
          }
        }

        .switcher{
          display: block;
          position: relative;
          width: 30px;

          .switcher-gray{
            display: flex;
            position: relative;
            overflow: hidden;
            flex-shrink: 0;
            align-items: center;
            justify-content: space-between;
            height: 17px;
            width: 30px;
            border-radius: 36.5px;
            background: rgba(142, 142, 142, 0.5);
            border: 2px solid transparent;
            overflow: visible;
            transition: .4s ease;

            &.active{
              border: 2px solid #4cd964;
              background-color: #4cd964;

              & .bg-slide-item{
                transform: translateX(13px);
              }
            }
          }

          input {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
          }

          input:checked + .bg-slide-item {
            transform: translateX(19px);
          }

          .bg-slide-item {
            display: block;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            bottom: 0;
            width: 13px;
            height: 13px;
            background-color: white;
            border-radius: 50%;
            transition: .4s ease;
            border: 0.5px solid rgba(0, 0, 0, 0.04);
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 1px 1px rgba(0, 0, 0, 0.16), 0px 3px 1px rgba(0, 0, 0, 0.1);
            transform: translateX(0);
          }
        }
      }
    }
  }

  .tabs-switchers{
    display: flex;
    position: absolute;
    top:2.5rem;
    right:11rem;
    text-align: center;
    height:3rem;
    width:18rem;
    z-index: 19;

    @media screen and (min-width: 960px) and (orientation: portrait) {
      display: flex;
      position: absolute;
      top: 2.5rem;
      right: 11rem;
      text-align: center;
      height: 6rem;
      width: 32rem;
      z-index: 19;
    }


    @include mobile{
      top:auto;
      bottom: 2rem;
      height: 6rem;
      left:50%;
      transform: translateX(-50%);
      width:35rem;

      &::before {
        content: "";
        position: fixed;
        width: 160%;
        height: 130%;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(1, 1, 1, 0.1));
        left: -152px;
        top: -3px;
        filter: blur(5px);
        opacity: 1;
        z-index: -1;
      }
    }

    @media screen and (min-width: 541px) and (max-height:721px) {
      top:auto;
      bottom: 1.5rem;
      height: 4rem;
      left:50%;
      transform: translateX(-50%);
      width:35rem;
    }


    .switcher{
      display: flex;
      flex-direction: column;
      cursor: default;
      justify-content: center;
      width:50%;
      border:2px solid white;
      color:white;
      text-decoration: none;


      &.switch-first{
        border-radius:22px 0 0 22px;
        cursor: pointer;
      }

      &.switch-second{
        border-radius:0 22px 22px 0;
        cursor: pointer;
      }

      .switcher-head{
        font-size:1rem;

        @media screen and (min-width: 960px) and (orientation: portrait) {
          font-size: 2rem;
        }
        @include mobile{

          font-size:2.2rem;
        }
      }

      .switcher-rooms{
        font-size:0.7rem;
        color:white;
        margin-top:0.3rem;
        opacity: 0.8;
        cursor: pointer;

        @media screen and (min-width: 960px) and (orientation: portrait) {
          font-size: 1.7rem;
          margin-top: 0.3rem;
          cursor: pointer;
        }

        @include mobile{
          font-size:1.6rem;
          margin-top:0.5rem;
        }
      }

      &.active{
        background-color:white;
        color:black;
        border:none;

        .switcher-rooms{
          color:rgba(25, 27, 29, 0.5);
          opacity: 1;
        }
      }
    }
  }
}

/**
Всплывающее окно на разметке
 */
.popup-info {
  display: none;
  position: fixed;
  z-index: 990;
  left: 50%;
  top: 50%;

  @include desktop {
    &.room-popup {
      width: 890px;
      border: 1px solid #C9C9C9;

      .head {
        &:before {
          display: none;
        }
        .text {
          &.big {
            font-size: 24px;
            line-height: 32px;
          }
        }

        &.flexOrientation{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-left:10px;
          padding-top:10px;
        }

        .popup-text{
          font-family:$fontBase ;
          font-size:48px;
          color: white;
          font-weight: 400;
          margin-top:15px;
          display:flex;
          flex-direction: column;

          .popup-onlyText{
            font-size:14px;
            color:#95B8CC;
            margin-top:10px;
          }
        }
      }
    }
  }
  .popup-close{
    background-image: url('../img/icon-close.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 14px;
    width: 14px;
    color: white;
    font-size: 2.5rem;
    padding-bottom: 10px;
    z-index:100;
  }

  @include mobile {
    display: block;
    top: 100% !important;
    left: 0 !important;
    width: 100%;
    height: 100%;

    &.filter {
      .content {
        padding: 0 15px 10px 15px;
      }
    }
  }



  &:before {
    content: "";
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .4s ease;
  }

  &.show {
    display: block;
    opacity:1;
    @include mobile {
      top: 0 !important;

      &:before {
        display: block;
      }
    }
  }

  &.show-effect {
    &:before {
      opacity: 1;
    }

    .content {
      @include mobile {
        transform: translateY(0);
        border-radius:8px 8px 0 0;
      }
    }
  }

  .content {
    display: block;
    margin: 0;
    position: relative;
    padding: 10px 20px 17px 15px;
    max-width: 300px;
    border-radius:8px;
    background: $colorWhite;
    transition: transform .4s ease;

    &.garage{
      padding-bottom: 15px;
    }

    @include desktop{
      &:before{
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        left: -5px;
        width: 15px;
        height: 15px;
        background-color: white;

      }
    }

    @include mobile {
      position: absolute;
      z-index: 90;
      bottom: 0;
      left: 0;
      width:100%;
      transform: translateY(100%);
      padding-bottom: 0;
      max-width: none;
    }
  }

  .content-popup-room {
    display: block;
    margin: 0;
    padding: 0 20px 10px 20px;
    //width: 890px;
    background-color:#073B58;
    //height:117px;

    @include desktop {
      padding: 0 20px;
    }

    @include mobile {
      position: absolute;
      z-index: 90;
      bottom: 0;
      width:100%;
      left: 0;
      transform: translateY(100%);
      padding-bottom: 0;
    }
  }

  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10%;
    right: 0;
    width: 40px;
    height: 40px;
    background: #A3A3A3;
    font-size: 15px;
    color: $colorBlack;
    text-decoration: none;
    border-radius: 12px;

    @include mobile{
      border-radius: 12px;
      margin-top: 1px;
    }
  }

  .head {
    position: relative;
    margin: 0;
    padding: 10px 0;

    &.rooms-head {
      padding: 6px 0 15px 0;

      &.garage{
        padding: 6px 0 10px 0;
      }
    }


    @include mobile {
      padding-right: 50px;
    }

    .text {
      margin: 0;
      font-size: 14px;
      line-height: 24px;
      position: relative;
      text-align: left;
      font-weight: 400;

      &.color-0 {
        color: $colorMain;
      }
      &.color-1 {
        color: $colorMain;
      }
      &.color-2 {
        color: $colorMain;
      }

      &.price {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
      }

      &.big {
        font-family: $fontAccent;
        font-size: 28px;
        line-height: 36px;
        font-weight: 400;
        color: $colorText;
      }
      &.cellPopup{
        display:block;
        position: absolute;
        top:-20px;
        width:107px;
        padding-top:5px;
        height:43px;
        background-color:#073B58;
        border-radius:4px ;
        left:20px;
        font-family:$fontBase;
        font-size:17px;
        color:white;
        text-align: center;

        @include mobile{
          left: 50%;
          transform: translateX(-50%);
          width: 13rem;
          height: 7rem;
          top: -5rem;
          padding-top: 1.3rem;
          font-size: 2.5rem;
        }


      }
      &.cellPopupSmall{
        color:rgba(255, 255, 255,0.6);
        font-size: 10px;
        display: block;
        position: absolute;
        left:52px;
        top:0px;
        text-align: center;

        @include mobile{
          top: 0.5rem;
          left: 50%;
          transform: translateX(-50%);
          font-size: 1.7rem;
        }

      }
      &.cellPopHeadText{
        font-family: 'Rubik',sans-serif;
        color: #A3A3A3;
        margin-top:2px;
        font-size:14px;
        line-height: 24px;
      }
      &.cellPopupOpening{
        @include mobile{
          font-size: 2.3rem;
          margin-bottom: 1rem;
        }

        @media (max-width:768px) and (max-height:1024px){
          margin-top: 1rem;
        }
      }
      &.cellPopupHeadSmall{
        color:white;
      }


      &.floorSection{
        font-family: 'Rubik',sans-serif;
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        color: #121212;
      }

    }

  }

  .popup-button{
    height:auto;
    font-family: $fontAccent;

    @include mobile{
      height: 6rem;
    }

    @include mobile{
      font-size: 18px;
    }

  }

  .item {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-shrink: 0;
    margin: 0;
    padding: 0;

    &:first-child{
      margin-top:15px;

      &.garage{
        margin-top: 10px;
      }
    }

    &:not(:first-child){
      margin-top:11px;
    }

    &.disabled {
      opacity: .5;

      .rooms{
        color: #A3A3A3;
      }

      .text{
        color: #A3A3A3;

        &.popUpPrice{
          color: #A3A3A3;
        }
      }
    }

    .rooms {
      font-family: 'Rubik', sans-serif;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #121212;
      flex-shrink: 0;
      margin-right: 5px;
      font-weight: 400;
      text-transform: uppercase;

      &-0 {
        &:before {
          background-color: $colorMain;
          color: $colorMain;
        }
      }

      &-1 {
        &:before {
          background-color: $colorMain;
          color: $colorMain;
        }
      }

      &-2 {
        &:before {
          background-color: $colorMain;
          color: $colorMain;
        }
      }
    }

    .info {
      margin-left: 15px;
    }

    .text {
      display: block;
      margin: 0;

      font-size: 10px;
      line-height: 12px;
      font-weight: 400;
      white-space: nowrap;
      text-overflow: ellipsis;

      &.sold-out {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        color: $colorText;
        font-family: $fontAccent;
        margin-bottom:15px;
      }

      &.medium {
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: $colorText;
      }

      &.big {
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        color: $colorText;
      }
      &.popUpSquare{
        color: #A3A3A3;
        font-size: 18px;
        line-height: 25px;
        font-family: $fontAccent;
        margin-right: 20px;

        &.garage{
          @include desktop{
            margin-bottom: 4px;
            font-size: 14px;
          }
        }
      }
      &.popUpPrice{
        color: #121212;
        font-size: 18px;
        line-height: 24px;
        margin-left: auto;
        font-family: $fontAccent;

        &.garage{
         @include desktop{
           font-size: 14px;
           margin-bottom: 0;
         }
        }
      }
    }
  }

  .hr{
    background: rgba(163, 163, 163, 0.2);
    display: block;
    height: 1px;
    position: absolute;
    width: 100%;
    left: 0;
  }
}

#rc_floors{
  .drawing-block{
    overflow-x: auto;
    &::-webkit-scrollbar{
      width: 0;
      height: 0;
    }
    @include desktop-smaller{

      -ms-overflow-style: none;


    }
  }
}