.garages-head-wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  @include mobile{
    flex-direction: column;
    margin-bottom: 10px;
  }

  .garage-header{
    margin-bottom: 0;
  }

  .buttons-wrapper{
    display: flex;
    align-self: center;

    @include mobile{
      margin-top: 20px;
      width: 100%;
      z-index: 1;
    }

    .garage-button{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 51px;
      color: white;
      font-family: $fontAccent;
      font-weight: normal;
      font-size: 20px;
      background: #262626;
      user-select: none;
      cursor: pointer;
      text-decoration: none;

      @include mobile{
        width: 50%;
      }

      &.left{
        border-radius: 3px 0px 0px 3px;
      }

      &.right{
        border-radius: 0px 3px 3px 0px;
      }

      &.active{
        background: #E56543;
        pointer-events: none;
      }
    }
  }
}

.rc-sections.garages{
  background: #121212;
}

.drawing-block.garages{
  @include desktop{
    height: 32rem !important;
    width: 52rem !important;
  }

  @include mobile{
    width: 100vw;
    margin-left: -15px;
    height: var(--viewport-height);
  }
}

.floor-block.garages{
  @include desktop{
    &:before{
      background: #323b43;
      border-radius: 4%;
      content: "";
      display: block;
      filter: blur(39px);
      height: 95%;
      left: 50%;
      position: absolute;
      top: 47%;
      transform: translateY(-50%) translateX(-50%);
      width: 70%;
    }
  }

  @include mobile{
    &:before {
      background: #323b43;
      border-radius: 4%;
      content: "";
      display: block;
      filter: blur(39px);
      height: 56%;
      left: 50%;
      position: absolute;
      top: 36%;
      transform: translateY(-50%) translateX(-50%);
      width: 110%;
    }
  }
}

.garage-popup-value{
  font-size: 14px !important;
  @include mobile{
    font-size: 18px !important;
  }
}

.move-button-wrapper{
  display: flex;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  @include desktop{
    display: none;
  }

  .move-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 50%;
    margin: 0;
    height: 140px;
    width: 244px;
    margin-top: -70px;
    pointer-events: none;


    .inner {
      display: flex;
      flex-direction: column;
      font-size: 18px;
      text-align: center;
      align-items: center;
      color: $colorWhite;

      img {
        width: 50px;
        height: 50px;
        margin-bottom: 15px;
      }


      animation-name: move-button;
      animation-timing-function: linear;
      animation-duration: 1.5s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
    }

    .icon {
      margin-right: 9px;
      font-size: 9px;
    }
  }

}

#rc_garage{
  @include desktop-m{
    padding-bottom: 50px;
  }
}