g.soled{
  position: relative;
  cursor: default !important;

  polygon{
    cursor: default !important;
  }

  text{
    display: block;
    position: absolute;
    font-size: 50px;
    font-family: $fontAccent;
    font-weight: bold;
    cursor: default !important;
  }
}


.flex-section{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);

  .section{
    flex-shrink:0;
  }

  &.black-theme{
    background: #121212;
  }

  @include mobile{

    position: relative;
  }

  @include only-mobile{
    height: auto;
  }
}

.flex-grow{
  flex-grow: 1;
}

.breadcrumb-head.room-select{
  @include desktop-m{
    font-size: 50px!important;
  }

  @include mobile{
    font-size: 30px !important;
    line-height: 48px !important;
    width: 60%;
    margin-bottom: 0;
  }
}

.floor-wrapper{
  display: flex;
  justify-content: space-between;

  @include desktop{
    height: 100%;
  }

  @include mobile{
    flex-direction: column;
    margin-top: 24px;
  }

  .location-block {
    flex: 0 0 20.3%;
    align-self: flex-end;
    margin-bottom: 4%;

    @include desktop-m{
      max-width: 19%;
    }
  }

  .floor-block{
    flex: 1 0 1%;
    max-width: 100%;
    padding: 0 50px;
    text-align: center;
    position: relative;

    @include mobile{
      padding: 0;
    }

    &:before{
      background: #323b43;
      border-radius: 46%;
      content: "";
      display: block;
      filter: blur(55px);
      height: 89%;
      left: 50%;
      position: absolute;
      top: 43%;
      transform: translateY(-50%) translateX(-50%);
      width: 64%;

      @include mobile{
        height: 83%;
        top: 63%;
        width: 95%;
      }
    }
  }

  .drawing-block {
    position: relative;
    z-index: 3;
    margin: 0;
    overflow: hidden;
    width: 44rem;
    height: 34rem;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 1921px){
      width: 37rem;
    }

    @include desktop-m{
      height: 82%;
      width: 70%;

      &.apartment{
        height: 34rem;
        width: 70%;
      }
    }

    @include mobile{
      width: 50rem;
    }

    @include only-mobile{
      width: 100%;
    }

    &.resize{
      width:45rem;

      @include only-mobile {
        width: 100%;
      }
    }


    &:before {
      content: '';
      display: block;
      float: left;
      padding-top: 73.3333333%;
    }

    @include mobile {
      height: 100%;
      overflow-x: auto;
    }
  }

  .drawing {
    display: block;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.transparent {
      z-index: 91;
    }


    .item {
      display: block;
      position: absolute;
      z-index: 3;
      left: 100%;
      top: 100%;
      cursor: pointer;

      &.notinclude {
        .content {
          background-color: $colorWhite;

          .text {
            color: $colorText;
          }

          &:before {
            background-color: $colorWhite;
          }
        }
      }

      &.sold {
        .content {


          &:before {

          }
        }
      }

      &.rooms-baloon {
        cursor: default;
      }

      &:after {
        content: "";
        display: none;
        position: relative;
        z-index: 3;
        top: -3px;
        margin: 0 auto;
        background: url("../img/balloon-bottom.svg") center top no-repeat;
        background-size: contain;
        width: 13px;
        height: 12px;
      }

      .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        z-index: 3;
        width: auto;
        //height: 21px;
        padding: 1px 10px 4px 10px;
        font-size: 14px;
        line-height: 17px;
        color: $colorWhite;
        background: $colorMain;
        text-align: center;

        &:before {
          background-color: $colorMain;
          bottom: -2px;
          content: "";
          display: block;
          height: 15px;
          left: 50%;
          margin-left: -7.5px;
          position: absolute;
          width: 15px;
          z-index: -1;
          transform: rotate(45deg);
        }
      }

      .text {
        display: block;
        margin: 0;
        width: 100%;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: $colorWhite;
        white-space: normal;
        word-break: normal;
      }

      .sold-text {
        font-size: 10px;
        line-height: 12px;
        font-weight: 400;
      }
    }

    polygon {
      cursor: pointer;
      position: relative;
    }
  }
}

//nav над map

.nav-block{
  display: flex;
  justify-content: center;
  margin-bottom: 18px;

  .arrow{
    display: block;
    position: relative;
    height: 24px;
    width: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/room-select/arrow.svg');
    margin-right: 21px;

    &.reverse{
      transform: rotate(180deg);
      margin-left: 21px;
      margin-right: 0;
    }
  }

  .text{
    font-family: 'Rubik',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: white;
    white-space: nowrap;
  }
}

//текущее положение

.location-block{
  position: relative;

  .current-location{
    display: block;
    position: absolute;
    color: white;
    border-top: 1px dashed white;
    bottom:48%;
    right: -64px;
    padding-top: 7px;
    padding-left: 12px;
    font-family: $fontAccent;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
  }
}

//info container
.info-container{
  display: flex;
  flex-direction: column;
  position: relative;

  .compass-block{
    display: block;
    position: relative;
    height: 150px;
    width: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/compass.svg');
    position: absolute;
    top: -15%;
    right: 0;
  }

  .status-block{
    display: block;
    margin: auto 0;

    @include  mobile{
      display: flex;
    }

    .in-sale, .sales{
      display: flex;
      font-family: 'Rubik',sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 20px;
      text-transform: uppercase;
      color: #FFFFFF;

      &:before{
        display: block;
        content: '';
        width: 18px;
        height: 18px;
        border-radius: 50%;
        margin-right: 12px;
      }
    }

    .in-sale{
      margin-bottom: 25px;

      @include mobile{
        margin-right: 25px;
      }
    }

    .in-sale:before{
      background-color: #F2EDF3;
    }

    .sales:before{
      background-color: #373E40;
    }
  }

  .floor-status-block{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    .title,.entrance-title{
      font-family: 'Rubik',sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 10px;
    }

    .floor-status-mobile{
      display: flex;
      justify-content: space-between;

      .floor{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12.5%;
        padding: 10px 0;
        color: #FFFFFF;
        font-family: 'Rubik',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        margin-right: 1px;
        text-decoration: none;

        &.current{
          background: #E56543;
          color: #FFFFFF;
          pointer-events: none;
        }

        &.available{
          color: #FFFFFF;
          background: #7F4A40;
        }

        &.disabled{
          color: #828282;
          background: #343434;
          pointer-events: none;
        }

        &:first-child{
          border-radius: 5px 0px 0px 5px;
        }

        &:last-child{
          border-radius: 0px 5px 5px 0px;
          margin-right: 0;
        }
      }
    }

    .entrance-title{
      margin-top: 20px;
    }

    .entrance-block{
      display: flex;
      justify-content: space-between;

      .first-section,.second-section{
        display: flex;
        width: 44%;
        height:30px;

        .first-entrance{
          width: 40%;
          border: 4px solid #4F4F4F;
          border-right: 0;
          position: relative;

          &:after{
            content: '';
            display: block;
            position: absolute;
            width: 4px;
            right: 0;
            height: 30px;
            top:-4px;
            background: #4F4F4F;
          }

          &.active{
            border: 4px solid #E56543;
            border-right: 0;

            &:after{
              background: #E56543;
              z-index: 1;
            }
          }
        }

        .second-entrance{
          width: 60%;
          border: 4px solid #4F4F4F;
          border-left: 0;
          position: relative;

          &:before{
            content: '';
            display: block;
            position: absolute;
            width: 4px;
            height: 30px;
            left: -4px;
            top:-4px;
            background: #4F4F4F;
          }

          &.active{
            border: 4px solid #E56543;
            border-left: 0;
            &:before {
              background: #E56543;
              z-index: 1;
            }
          }
        }
      }

      .first-section{
        margin-top: 13px;
      }
    }
  }

  &.room-select{
    flex: inherit;
    max-width: inherit;
    align-self: initial;
  }

}

.compass-block.mobile{
  display: block;
  position: relative;
  height: 150px;
  width: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img/compass.svg');
  position: absolute;
  top: 5%;
  right: 0;
  z-index: 10;
}


//попап на выборе квартиры
.item.floor-popup{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .text{
    font-size: 18px;
    line-height: 24px;
    color: #A3A3A3 !important;
    margin-bottom: 13px;
    margin-left: 0 !important;
    font-family: $fontAccent;
    font-weight: 400;
  }

  .text span{
    font-size: 18px;
    line-height: 24px;
    color: #121212;
    margin-left: 8px;
  }
}